interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/vdc-storage-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: '{"sku": {"name": "Standard_LRS"}, "kind": "BlobStorage", "location": "Central
      US", "properties": {"encryption": {"services": {"blob": {"enabled": true}},
      "keySource": "Microsoft.Storage"}, "accessTier": "Cool", "supportsHttpsTrafficOnly":
      true, "isHnsEnabled": false}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage?api-version=2018-02-01
  response:
    body: {string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"BlobStorage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage","name":"storage","type":"Microsoft.Storage/storageAccounts","location":"centralus","tags":{},"properties":{"isHnsEnabled":false,"networkAcls":{"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"enabled":true,"lastEnabledTime":"2019-01-12T06:05:37.8777624Z"},"blob":{"enabled":true,"lastEnabledTime":"2019-01-12T06:05:37.8777624Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Cool","provisioningState":"Succeeded","creationTime":"2019-01-12T06:05:37.7684284Z","primaryEndpoints":{"dfs":"https://storage.dfs.core.windows.net/","blob":"https://storage.blob.core.windows.net/","table":"https://storage.table.core.windows.net/"},"primaryLocation":"centralus","statusOfPrimary":"available"}}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g==","permissions":"FULL"},{"keyName":"key2","value":"Qt4jlr+vbLCxJo6xXTAlgWEXGo27Lz8jmQRQ4yIPsJD5CUM48N75AxWrH71MIJIu12thzJH4T3VUZ4BvKrqhrQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"displayName": "permittedRegions", "description": "Policy
      to restrict resource creation to only certain regions", "policyRule": {"if":
      {"not": {"field": "location", "in": ["eastus", "westus", "westus2", "centralus",
      "westcentralus", "westeurope"]}}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"permittedRegions","policyType":"Custom","description":"Policy
        to restrict resource creation to only certain regions","metadata":{"category":"VDC"},"policyRule":{"if":{"not":{"field":"location","in":["eastus","westus","westus2","centralus","westcentralus","westeurope"]}},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","type":"Microsoft.Authorization/policyDefinitions","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "permittedRegions", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions"},
      "name": "permittedRegions"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"permittedRegions","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions","type":"Microsoft.Authorization/policyAssignments","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStandardTags", "description": "Policy
      to enforce standard tags", "policyRule": {"if": {"anyOf": [{"field": "tags.environment",
      "exists": false}, {"field": "tags.appCode", "exists": false}, {"field": "tags.managedBy",
      "exists": false}, {"field": "tags.source", "exists": false}, {"field": "tags.dataClassification",
      "exists": false}, {"field": "tags.supportTier", "exists": false}, {"field":
      "tags.costCenter", "exists": false}]}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStandardTags", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags"},
      "name": "enforceStandardTags"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStandardTags","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags","type":"Microsoft.Authorization/policyAssignments","name":"enforceStandardTags"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceAllowedVMImages", "description":
      "Policy to enforce the use of specific VM Images", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Compute/virtualMachines"}, {"not": {"field":
      "Microsoft.Compute/imageId", "in": "[parameters(''imageIds'')]"}}]}, "then":
      {"effect": "audit"}}, "metadata": {"category": "VDC"}, "parameters": {"imageIds":
      {"type": "array", "metadata": {"description": "The list of allowed VM Images.",
      "displayName": "Allowed VM Images"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceAllowedVMImages","policyType":"Custom","description":"Policy
        to enforce the use of specific VM Images","metadata":{"category":"VDC"},"parameters":{"imageIds":{"type":"Array","metadata":{"description":"The
        list of allowed VM Images.","displayName":"Allowed VM Images"}}},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"not":{"field":"Microsoft.Compute/imageId","in":"[parameters(''imageIds'')]"}}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages","type":"Microsoft.Authorization/policyDefinitions","name":"enforceAllowedVMImages"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "auditNSGUnassigned", "description": "Policy
      that audits all NSGs that are not assigned to a NIC or Subnet", "policyRule":
      {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Network/networkSecurityGroups"},
      {"allOf": [{"not": {"field": "Microsoft.Network/networkSecurityGroups/subnets[*].id",
      "exists": true}}, {"not": {"field": "Microsoft.Network/networkSecurityGroups/networkInterfaces[*].id",
      "exists": true}[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "auditNSGUnassigned", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned"},
      "name": "auditNSGUnassigned"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"auditNSGUnassigned","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned","type":"Microsoft.Authorization/policyAssignments","name":"auditNSGUnassigned"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageEncryption", "description":
      "Policy to restrict storage account creation to only those applying encryption",
      "policyRule": {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"},
      {"not": {"field": "Microsoft.Storage/storageAccounts/enableBlobEncryption",
      "equals": "true"}}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type:[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageEncryption", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption"},
      "name": "enforceStorageEncryption"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageEncryption","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageEncryption"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageHttpsAccess", "description":
      "Policy to enforce Https Access", "policyRule": {"if": {"allOf": [{"field":
      "type", "equals": "Microsoft.Storage/storageAccounts"}, {"field": "Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly",
      "equals": "false"}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceStorageHttpsAccess","policyType":"Custom","description":"Policy
        to enforce Https Access","metadata":{"category":"VDC"},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Storage/storageAccounts"},{"field":"Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly","equals":"false"}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyDefinitions","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageHttpsAccess", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess"},
      "name": "enforceStorageHttpsAccess"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageHttpsAccess","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageServiceEndpoint", "description":
      "Policy to enforce Storage Account service endpoint", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"}, {"not": {"field":
      "Microsoft.Storage/storageAccounts/networkAcls.virtualNetworkRules[*].id", "exists":
      true}}]}, "then": {"effect": "audit"}}, "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageServiceEndpoint",
      "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint"},
      "name": "enforceStorageServiceEndpoint"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageServiceEndpoint","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageServiceEndpoint"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-la-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: '{"properties": {"displayName": "SharedServicesOpsPermittedResourceTypes",
      "description": "Policy to prevent the creation of unauthorized resource types
      within the resource group.", "policyRule": {"if": {"not": {"field": "type",
      "in": ["Microsoft.OperationalInsights/workspaces", "Microsoft.Network/networkWatchers"]}},
      "then": {"effect": "audit"}}, "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
   [...]
- request:
    body: 'b''b\''{"properties": {"displayName": "SharedServicesOpsPermittedResourceTypes",
      "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/SharedServicesOpsPermittedResourceTypes"},
      "name": "SharedServicesOpsPermittedResourceTypes"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000[...]
- request:
    body: '{"properties": {"displayName": "denyPublicIP", "description": "Policy to
      prevent the creation of public ip resources", "policyRule": {"if": {"field":
      "type", "in": ["Microsoft.Network/publicIPAddresses"]}, "then": {"effect": "audit"}},
      "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/denyPublicIP?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"denyPublicIP","policyType":"Custom","description":"Policy
        to prevent the creation of public ip resources","metadata":{"category":"VDC"},"policyRule":{"if":{"field":"type","in":["Microsoft.Network/publicIPAddresses"]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/denyPublicIP","type":"Microsoft.Authorization/policyDefinitions","name":"denyPublicIP"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "denyPublicIP", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/denyPublicIP"},
      "name": "denyPublicIP"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-la-rg/providers/Microsoft.Authorization/policyAssignments/denyPublicIP?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"denyPublicIP","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/denyPublicIP","scope":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-la-rg"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-la-rg/providers/Microsoft.Authorization/policyAssignments/denyPublicIP","type":"Microsoft.Authorization/policyAssignments","name":"denyPublicIP"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"deployment-prefix": {"type": "string",
      "metadata": {"description": "Deployment prefix. E.g. Organization-DeploymentType"}},
      "service-tier": {"type": "string", "allowedValues": ["Free", "Standalone", "PerNode"],
      "metadata": {"description": "Service Tier: Free, Standalone, or PerNode"}},
      "data-retention": {"type": "int", "defaultValue": 30, "minValue": 7, "maxValue":
      730, "metadata": {"description": "Number of days data will be retained for."}},
      "location": {"type": "string", "allowedValues": ["Australia Southeast", "Canada
      Central", "Central India", "East US", "Japan East", "Southeast Asia", "UK South",
      "West Europe", "West US 2"], "metadata": {"description": "Region used when establishing
      the workspace."}}, "sas-key": {"defaultValue": "se=2019-01-13T20%3A36%3A18Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=7afQvn3KKrwR1DyK/8uoZHc61B2Jv%2BAshW3P2oHPess%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"oms-workspace-name": "[concat(parameters(\\\''deployment-prefix\\\''),
      \\\''-la\\\'')]"}, "resources": [{"apiVersion": "2017-03-15-preview", "name":
      "[variables(\\\''oms-workspace-name\\\'')]", "location": "[parameters(\\\''location\\\'')]",
      "tags": {}, "type": "Microsoft.OperationalInsights/workspaces", "properties":
      {"sku": {"Name": "[parameters(\\\''service-tier\\\'')]"}, "retention": "[parameters(\\\''data-retention\\\'')]"}}],
      "outputs": {"oms-id": {"type": "string", "value": "[resourceId(\\\''Microsoft.OperationalInsights/workspaces\\\'',
      variables(\\\''oms-workspace-name\\\''))]"}, "oms-workspace-resourceGroup":
      {"type": "string", "value": "[resourceGroup().name]"}, "oms-workspace-name":
      {"type": "string", "value": "[variables(\\\''oms-workspace-name\\\'')]"}, "oms-workspace-id":
      {"type": "string", "value": "[reference(resourceId(\\\''Microsoft.OperationalInsights/workspaces\\\'',
      variables(\\\''oms-workspace-name\\\'')), \\\''2015-03-20\\\'').customerId]"},
      "oms-primary-shared-key": {"type": "string", "value": "[listKeys(resourceId(\\\''Microsoft.OperationalInsights/workspaces\\\'',
      variables(\\\''oms-workspace-name\\\'')), \\\''2015-03-20\\\'').primarySharedKey]"}}},
      "parameters": {"deployment-prefix": {"value": "org-paas"}, "data-retention":
      {"value": 30}, "location": {"value": "West US 2"}, "service-tier": {"value":
      "PerNode"}, "sas-key": {"value": "se=2019-01-13T20%3A36%3A18Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=7afQvn3KKrwR1DyK/8uoZHc61B2Jv%2BAshW3P2oHPess%3D"},
      "output-params-storage-key": {"value": "WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g=="},
      "output-params-storage-account-name": {"value": "storage"}}, "mode": "Incremental"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-la-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-la?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-la-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-la","name":"org-workload-paas-deployment-la","properties":{"templateHash":"18362642723119638947","parameters":{"deployment-prefix":{"type":"String","value":"org-paas"},"service-tier":{"type":"String","value":"PerNode"},"data-retention":{"type":"Int","value":30},"location":{"type":"String","value":"West
        US 2"},"sas-key":{"type":"String","value":"se=2019-01-13T20%3A36%3A18Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=7afQvn3KKrwR1DyK/8uoZHc61B2Jv%2BAshW3P2oHPess%3D"},"output-params-storage-key":{"type":"String","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g=="},"output-params-storage-account-name":{"type":"String","value":"storage"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-01-12T20:36:23.575694Z","duration":"PT0.4218459S","correlationId":"3dd508b6-52e9-491a-bf34-aa40a2b381fe","providers":[{"namespace":"Microsoft.OperationalInsights","resourceTypes":[{"resourceType":"workspaces","locations":["westus2"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-la-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-la/operationStatuses/08586542815023237793?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-la-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-la/operationStatuses/08586542815023237793?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 20:36:54 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D6785457412265"']
      last-modified: ['Sat, 12 Jan 2019 06:08:15 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''{"oms-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-la-rg/providers/Microsoft.OperationalInsights/workspaces/org-paas-la"},
      "oms-workspace-resourceGroup": { "value": "org-paas-la-rg"}, "oms-workspace-name":
      { "value": "org-paas-la"}, "oms-workspace-id": { "value": "6465f325-13b1-40dc-934b-7b5cda0c68a8"},
      "oms-primary-shared-key": { "value": "JbndsXGlvFeoOtMIX5W8vbUHJfyZzldHKkteFHW3IbN8nMKX+5ULhQ3d4nnSDQxbL+WCcrNNlr1NZrJ1n6JnQA=="}}\\\''\'''''
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Sat, 12 Jan 2019 20:36:55 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storage.blob.core.windows.net/output/org-workload-paas/parameters/la/azureDeploy.parameters.output.json
  response:
    body: {string: ''}
    headers:
      content-md5: [A1DQTjTuH2W0c0CPThZfzg==]
      etag: ['"0x8D678CDB11590BB"']
      last-modified: ['Sat, 12 Jan 2019 20:36:55 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
