interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g==","permissions":"FULL"},{"keyName":"key2","value":"Qt4jlr+vbLCxJo6xXTAlgWEXGo27Lz8jmQRQ4yIPsJD5CUM48N75AxWrH71MIJIu12thzJH4T3VUZ4BvKrqhrQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"displayName": "permittedRegions", "description": "Policy
      to restrict resource creation to only certain regions", "policyRule": {"if":
      {"not": {"field": "location", "in": ["eastus", "westus", "westus2", "centralus",
      "westcentralus", "westeurope"]}}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"permittedRegions","policyType":"Custom","description":"Policy
        to restrict resource creation to only certain regions","metadata":{"category":"VDC"},"policyRule":{"if":{"not":{"field":"location","in":["eastus","westus","westus2","centralus","westcentralus","westeurope"]}},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","type":"Microsoft.Authorization/policyDefinitions","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "permittedRegions", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions"},
      "name": "permittedRegions"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"permittedRegions","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions","type":"Microsoft.Authorization/policyAssignments","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStandardTags", "description": "Policy
      to enforce standard tags", "policyRule": {"if": {"anyOf": [{"field": "tags.environment",
      "exists": false}, {"field": "tags.appCode", "exists": false}, {"field": "tags.managedBy",
      "exists": false}, {"field": "tags.source", "exists": false}, {"field": "tags.dataClassification",
      "exists": false}, {"field": "tags.supportTier", "exists": false}, {"field":
      "tags.costCenter", "exists": false}]}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStandardTags", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags"},
      "name": "enforceStandardTags"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStandardTags","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags","type":"Microsoft.Authorization/policyAssignments","name":"enforceStandardTags"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceAllowedVMImages", "description":
      "Policy to enforce the use of specific VM Images", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Compute/virtualMachines"}, {"not": {"field":
      "Microsoft.Compute/imageId", "in": "[parameters(''imageIds'')]"}}]}, "then":
      {"effect": "audit"}}, "metadata": {"category": "VDC"}, "parameters": {"imageIds":
      {"type": "array", "metadata": {"description": "The list of allowed VM Images.",
      "displayName": "Allowed VM Images"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceAllowedVMImages","policyType":"Custom","description":"Policy
        to enforce the use of specific VM Images","metadata":{"category":"VDC"},"parameters":{"imageIds":{"type":"Array","metadata":{"description":"The
        list of allowed VM Images.","displayName":"Allowed VM Images"}}},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"not":{"field":"Microsoft.Compute/imageId","in":"[parameters(''imageIds'')]"}}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages","type":"Microsoft.Authorization/policyDefinitions","name":"enforceAllowedVMImages"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "auditNSGUnassigned", "description": "Policy
      that audits all NSGs that are not assigned to a NIC or Subnet", "policyRule":
      {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Network/networkSecurityGroups"},
      {"allOf": [{"not": {"field": "Microsoft.Network/networkSecurityGroups/subnets[*].id",
      "exists": true}}, {"not": {"field": "Microsoft.Network/networkSecurityGroups/networkInterfaces[*].id",
      "exists": true}[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "auditNSGUnassigned", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned"},
      "name": "auditNSGUnassigned"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"auditNSGUnassigned","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned","type":"Microsoft.Authorization/policyAssignments","name":"auditNSGUnassigned"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageEncryption", "description":
      "Policy to restrict storage account creation to only those applying encryption",
      "policyRule": {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"},
      {"not": {"field": "Microsoft.Storage/storageAccounts/enableBlobEncryption",
      "equals": "true"}}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type:[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageEncryption", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption"},
      "name": "enforceStorageEncryption"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageEncryption","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageEncryption"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageHttpsAccess", "description":
      "Policy to enforce Https Access", "policyRule": {"if": {"allOf": [{"field":
      "type", "equals": "Microsoft.Storage/storageAccounts"}, {"field": "Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly",
      "equals": "false"}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceStorageHttpsAccess","policyType":"Custom","description":"Policy
        to enforce Https Access","metadata":{"category":"VDC"},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Storage/storageAccounts"},{"field":"Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly","equals":"false"}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyDefinitions","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageHttpsAccess", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess"},
      "name": "enforceStorageHttpsAccess"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageHttpsAccess","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageServiceEndpoint", "description":
      "Policy to enforce Storage Account service endpoint", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"}, {"not": {"field":
      "Microsoft.Storage/storageAccounts/networkAcls.virtualNetworkRules[*].id", "exists":
      true}}]}, "then": {"effect": "audit"}}, "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageServiceEndpoint",
      "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint"},
      "name": "enforceStorageServiceEndpoint"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageServiceEndpoint","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageServiceEndpoint"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 20:39:18 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-workload-paas/parameters/workload-net/azureDeploy.parameters.output.json
  response:
    body: {string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-net-rg/providers/Microsoft.Network/virtualNetworks/org-paas-vnet"},
        "vnet-name": { "value": "org-paas-vnet"}, "vnet-resourceGroup": { "value":
        "org-paas-net-rg"}}'}
    headers:
      content-range: [bytes 0-277/278]
      content-type: [application/octet-stream]
      etag: ['"0x8D678CDEF22808E"']
      last-modified: ['Sat, 12 Jan 2019 20:38:39 GMT']
      x-ms-blob-content-md5: [DGiLmoKDxlKDpWnCIrnfBQ==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Sat, 12 Jan 2019 18:13:04 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-sqldb-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''b\\\\\\\\\\\\\\\''{"properties": {"template": {"$schema":
      "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"admin-username": {"type": "string",
      "metadata": {"description": "The username used to establish jumpbox VMs."}},
      "admin-password": {"type": "securestring", "metadata": {"description": "The
      password given to the admin user."}}, "vnet-id": {"type": "string", "metadata":
      {"description": "Workload Virtual Network resource Id"}}, "sql-server-properties":
      {"type": "object", "metadata": {"description": "Info about Azure SQL Server"}},
      "vnet-name": {"defaultValue": "org-paas-vnet", "type": "string"}, "vnet-resourceGroup":
      {"defaultValue": "org-paas-net-rg", "type": "string"}, "sas-key": {"defaultValue":
      "se=2019-01-13T20%3A39%3A17Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=rQxPJSFieT2Gcbtswbe5yubS6stoSV8OgvVny/rXSCE%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"server-name": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').name]"},
      "resources": [{"apiVersion": "2015-05-01-preview", "location": "[resourceGroup().location]",
      "type": "Microsoft.Sql/servers", "name": "[variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''server-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "properties": {"administratorLogin": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''admin-username\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "administratorLoginPassword": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''admin-password\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "version": "12.0"}}, {"name": "[concat(variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''server-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'', parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')[\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''virtualNetwork-rules\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''][copyIndex()].name)]",
      "type": "Microsoft.Sql/servers/virtualNetworkRules", "apiVersion": "2015-05-01-preview",
      "condition": "[greater(length(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')[\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''virtualNetwork-rules\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'']),
      0)]", "dependsOn": ["[concat(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''Microsoft.Sql/servers/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''server-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]"],
      "copy": {"name": "firewallRules", "count": "[length(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')[\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''virtualNetwork-rules\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''])]"},
      "properties": {"virtualNetworkSubnetId": "[concat(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''vnet-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''/subnets/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')[\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''virtualNetwork-rules\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''][copyIndex()][\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''subnet-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''])]"}},
      {"apiVersion": "2017-10-01-preview", "type": "Microsoft.Sql/servers/databases",
      "dependsOn": ["[concat(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''Microsoft.Sql/servers/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''server-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]"],
      "copy": {"name": "databases", "count": "[length(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').databases)]"},
      "location": "[resourceGroup().location]", "name": "[concat(variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''server-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'', parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').databases[copyIndex()].name)]",
      "properties": {"collation": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').databases[copyIndex()].collation]",
      "maxSizeBytes": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').databases[copyIndex()][\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''maxSize-bytes\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'']]"},
      "sku": {"name": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').databases[copyIndex()].sku.name]",
      "tier": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''sql-server-properties\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'').databases[copyIndex()].sku.tier]"}}]},
      "parameters": {"admin-username": {"value": "admin-user"}, "admin-password":
      {"reference": {"keyVault": {"id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/org-ssvcs-kv"},
      "secretName": "admin-user"}}, "sql-server-properties": {"value": {"name": "org-paas-db-server01",
      "virtualNetwork-rules": [{"name": "default-subnet-svc-endpoint", "subnet-name":
      "default"}], "databases": [{"name": "sqldb01", "collation": "SQL_Latin1_General_CP1_CI_AS",
      "maxSize-bytes": 268435456000, "sku": {"name": "S0", "tier": "Standard"}}]}},
      "vnet-id": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-net-rg/providers/Microsoft.Network/virtualNetworks/org-paas-vnet"},
      "vnet-name": {"value": "org-paas-vnet"}, "vnet-resourceGroup": {"value": "org-paas-net-rg"},
      "sas-key": {"value": "se=2019-01-13T20%3A39%3A17Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=rQxPJSFieT2Gcbtswbe5yubS6stoSV8OgvVny/rXSCE%3D"},
      "output-params-storage-key": {"value": "WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g=="},
      "output-params-storage-account-name": {"value": "storage"}}, "mode": "Incremental"}}\\\\\\\\\\\\\\\''\\\\\\\''\\\''\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-sqldb-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-sqldb?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-sqldb-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-sqldb","name":"org-workload-paas-deployment-sqldb","properties":{"templateHash":"16646461407163904949","parameters":{"admin-username":{"type":"String","value":"admin-user"},"admin-password":{"type":"SecureString","reference":{"keyVault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/org-ssvcs-kv"},"secretName":"admin-user"}},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-net-rg/providers/Microsoft.Network/virtualNetworks/org-paas-vnet"},"sql-server-properties":{"type":"Object","value":{"name":"org-paas-db-server01","virtualNetwork-rules":[{"name":"default-subnet-svc-endpoint","subnet-name":"default"}],"databases":[{"name":"sqldb01","collation":"SQL_Latin1_General_CP1_CI_AS","maxSize-bytes":268435456000,"sku":{"name":"S0","tier":"Standard"}}]}},"vnet-name":{"type":"String","value":"org-paas-vnet"},"vnet-resourceGroup":{"type":"String","value":"org-paas-net-rg"},"sas-key":{"type":"String","value":"se=2019-01-13T20%3A39%3A17Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=rQxPJSFieT2Gcbtswbe5yubS6stoSV8OgvVny/rXSCE%3D"},"output-params-storage-key":{"type":"String","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g=="},"output-params-storage-account-name":{"type":"String","value":"storage"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-01-12T20:39:21.758472Z","duration":"PT0.6456021S","correlationId":"91acaf0c-088b-42bc-8d34-15a58f3f1b46","providers":[{"namespace":"Microsoft.Sql","resourceTypes":[{"resourceType":"servers","locations":["centralus"]},{"resourceType":"servers/virtualNetworkRules","locations":[null]},{"resourceType":"servers/databases","locations":["centralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-sqldb-rg/providers/Microsoft.Sql/servers/org-paas-db-server01","resourceType":"Microsoft.Sql/servers","resourceName":"org-paas-db-server01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-sqldb-rg/providers/Microsoft.Sql/servers/org-paas-db-server01/virtualNetworkRules/default-subnet-svc-endpoint","resourceType":"Microsoft.Sql/servers/virtualNetworkRules","resourceName":"org-paas-db-server01/default-subnet-svc-endpoint"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-sqldb-rg/providers/Microsoft.Sql/servers/org-paas-db-server01","resourceType":"Microsoft.Sql/servers","resourceName":"org-paas-db-server01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-paas-sqldb-rg/providers/Microsoft.Sql/servers/org-paas-db-server01/databases/sqldb01","resourceType":"Microsoft.Sql/servers/databases","resourceName":"org-paas-db-server01/sqldb01"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-sqldb-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-sqldb/operationStatuses/08586542813243647745?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-paas-sqldb-rg/providers/Microsoft.Resources/deployments/org-workload-paas-deployment-sqldb/operationStatuses/08586542813243647745?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
