interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg==","permissions":"FULL"},{"keyName":"key2","value":"BARXTAxfMvR7WzSsdrD8Lt+60pbIP0lhpgw7aX6Hv+91UCXTxWc2Ekq2XZzwM50RfVbEPNh6nFCnp56bDjwpJg==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 06:17:55 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/kv/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"kv-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/cntso-ssvcs-kv"},
        "kv-name": { "value": "cntso-ssvcs-kv"}, "kv-resourceGroup": { "value": "cntso-ssvcs-kv-rg"},
        "kv-uri": { "value": "https://cntso-ssvcs-kv.vault.azure.net/"}}'
    headers:
      content-range:
      - bytes 0-368/369
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7C0C590050"'
      last-modified:
      - Fri, 03 May 2019 04:01:40 GMT
      x-ms-blob-content-md5:
      - LAvFJ8pjfwKMdovTMaGk/w==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 23:04:03 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 06:17:55 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/shared-services-net/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet"},
        "vnet-name": { "value": "cntso-ssvcs-vnet"}, "vnet-resourceGroup": { "value":
        "cntso-ssvcs-net-rg"}}'
    headers:
      content-range:
      - bytes 0-313/314
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7B3A133AA8"'
      last-modified:
      - Fri, 03 May 2019 03:55:48 GMT
      x-ms-blob-content-md5:
      - uuncXP3nwK/2kckRf2nBzg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 22:42:15 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 06:17:56 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/la/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"la-resourceId": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-diagnostics-rg/providers/Microsoft.OperationalInsights/workspaces/cntso-ssvcs-la"},
        "la-workspace-resourceGroup": { "value": "cntso-ssvcs-diagnostics-rg"}, "la-workspace-name":
        { "value": "cntso-ssvcs-la"}, "la-workspace-id": { "value": "d4856489-3d3d-4a90-939d-3d00f85d2cca"},
        "la-primary-shared-key": { "value": "GZflgFjoJgtzBIMryWzsx6c9zIpTZddkO9dfyADchEPEo9vCbVc59K2Ak2KZK4jLia05vTfiaLiaEYM6IjsDkw=="}}'
    headers:
      content-range:
      - bytes 0-554/555
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7AC54B0169"'
      last-modified:
      - Fri, 03 May 2019 03:52:32 GMT
      x-ms-blob-content-md5:
      - VSRHCa/+VUVqQZ3n66L9fQ==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 22:39:06 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 06:17:56 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/diagnostic-storage-account/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"storageAccount-resourceId": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-diagnostics-rg/providers/Microsoft.Storage/storageAccounts/cntsowus2shrdsvcs01diag"},
        "storageAccount-name": { "value": "cntsowus2shrdsvcs01diag"}, "storageAccount-sasToken":
        { "value": "sv=2015-04-05&ss=bt&srt=co&sp=acuw&se=2119-12-31T23%3A59%3A59.0000000Z&spr=https&sig=S6l09DNkd4q1py%2FEBG2X2tpgxgVdZKHBY%2F6%2FmyyfpLk%3D"},
        "storageAccount-accessKey": { "value": "tY1tE79dGJFdVuVjR9XL/48fu97GeBxLpxr6obq2PsplTMHS7Bc+Uby5/w9sXam2mA0JzlWIxYY1+335cBqiSw=="}}'
    headers:
      content-range:
      - bytes 0-589/590
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7AB158698E"'
      last-modified:
      - Fri, 03 May 2019 03:51:58 GMT
      x-ms-blob-content-md5:
      - UzcGkQ4IgSSQOnpmSwhZwg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 22:38:01 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-jb-rg?api-version=2019-05-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: '!!! The request body has been omitted from the recording because its size
      59407 is larger than 10KB. !!!'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-jb-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-jb?api-version=2019-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-jb-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-jb","name":"cntso-shared-services-ssvcs-deployment-j","properties":{"templateHash":"4998265894761262322","parameters":{"deployment-prefix":{"type":"String","value":"cntso-ssvcs"},"la-workspace-id":{"type":"SecureString"},"la-primary-shared-key":{"type":"SecureString"},"output-params-storage-key":{"type":"SecureString"},"output-params-storage-account-name":{"type":"SecureString"},"kv-uri":{"type":"SecureString"},"kv-id":{"type":"SecureString"},"aad-principal-id":{"type":"SecureString"},"aad-certificate-thumb":{"type":"SecureString"},"aad-certificate-url":{"type":"SecureString"},"jb-key":{"type":"SecureString"},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet"},"vnet-resourceGroup":{"type":"String","value":"cntso-ssvcs-net-rg"},"jb-asg-name":{"type":"String","value":"jb"},"shared-services-subnet-name":{"type":"String","value":"sharedsvcs"},"extension-name":{"type":"String","value":"jb"},"admin-username":{"type":"String","value":"admin-user"},"admin-password":{"type":"SecureString","reference":{"keyVault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/cntso-ssvcs-kv"},"secretName":"admin-user"}},"windows-virtualMachine-count":{"type":"Int","value":1},"windows-virtualMachine-size":{"type":"String","value":"Standard_DS2_v2"},"windows-os-type":{"type":"String","value":"Windows"},"windows-os-image":{"type":"Object","value":{"offer":"WindowsServer","publisher":"MicrosoftWindowsServer","sku":"2016-Datacenter"}},"linux-virtualMachine-count":{"type":"Int","value":1},"linux-virtualMachine-size":{"type":"String","value":"Standard_D2s_v3"},"linux-os-type":{"type":"String","value":"Linux"},"linux-os-image":{"type":"Object","value":{"publisher":"Canonical","offer":"UbuntuServer","sku":"18.04-LTS","version":"latest"}},"enable-encryption":{"type":"Bool","value":false},"encryption-secrets":{"type":"Array","value":[{"sourceVault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/cntso-ssvcs-kv"},"vaultCertificates":[{"certificateUrl":"","certificateStore":"My"}]}]},"storageAccount-name":{"type":"String","value":"cntsowus2shrdsvcs01diag"},"storageAccount-sasToken":{"type":"SecureString"},"organization-name":{"type":"String","value":"cntso"},"kv-name":{"type":"String","value":"cntso-ssvcs-kv"},"kv-resourceGroup":{"type":"String","value":"cntso-ssvcs-kv-rg"},"vnet-name":{"type":"String","value":"cntso-ssvcs-vnet"},"la-resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-diagnostics-rg/providers/Microsoft.OperationalInsights/workspaces/cntso-ssvcs-la"},"la-workspace-resourceGroup":{"type":"String","value":"cntso-ssvcs-diagnostics-rg"},"la-workspace-name":{"type":"String","value":"cntso-ssvcs-la"},"storageAccount-resourceId":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-diagnostics-rg/providers/Microsoft.Storage/storageAccounts/cntsowus2shrdsvcs01diag"},"storageAccount-accessKey":{"type":"String","value":"tY1tE79dGJFdVuVjR9XL/48fu97GeBxLpxr6obq2PsplTMHS7Bc+Uby5/w9sXam2mA0JzlWIxYY1+335cBqiSw=="},"sas-key":{"type":"String","value":"se=2019-05-03T23%3A17%3A55Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=ZjaGk7jSYzke8h4IHOAUIiGPvtfJLogz5OO/zy6AooE%3D"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-05-03T06:17:59.7882988Z","duration":"PT0.6399214S","correlationId":"ac1696a7-1c78-4cea-811a-6759f5e93d49","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["westus2"]},{"resourceType":"virtualMachines","locations":["westus2"]},{"resourceType":"virtualMachines/extensions","locations":["westus2"]},{"resourceType":"virtualMachines/providers/guestConfigurationAssignments","locations":["westus2"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkInterfaces","locations":["westus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-jb-rg/providers/Microsoft.Compute/availabilitySets/cntso-ssvcs-jb-win-as","resourceType":"Microsoft.Compute/availabilitySets","resourceName":"cntso-ssvcs-jb-win-as"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-jb-rg/providers/Microsoft.Network/networkInterfaces/cntso-ssvcs-jb-win-vm1-nic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"cntso-ssvcs-jb-win-vm1-nic"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-jb-rg/providers/Microsoft.Compute/virtualMachines/cntso-ssvcs-jb-win-vm1","resourceType":"Microsoft.Compute/virtualMachines",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-jb-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-jb/operationStatuses/08586447426063293928?api-version=2019-05-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 06:18:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6C9C2C8DFA212"'
      last-modified:
      - Thu, 25 Apr 2019 21:12:55 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 03 May 2019 06:18:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/jb/azureDeploy.parameters.output.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      etag:
      - '"0x8D6CF8F29A96686"'
      last-modified:
      - Fri, 03 May 2019 06:18:30 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
version: 1
