interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg==","permissions":"FULL"},{"keyName":"key2","value":"BARXTAxfMvR7WzSsdrD8Lt+60pbIP0lhpgw7aX6Hv+91UCXTxWc2Ekq2XZzwM50RfVbEPNh6nFCnp56bDjwpJg==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 03:58:26 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/shared-services-net/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet"},
        "vnet-name": { "value": "cntso-ssvcs-vnet"}, "vnet-resourceGroup": { "value":
        "cntso-ssvcs-net-rg"}}'
    headers:
      content-range:
      - bytes 0-313/314
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7B3A133AA8"'
      last-modified:
      - Fri, 03 May 2019 03:55:48 GMT
      x-ms-blob-content-md5:
      - uuncXP3nwK/2kckRf2nBzg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 22:42:15 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 03:58:26 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/vgw/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"shared-services-gateway-name": { "value": "cntso-ssvcs-gw"}, "shared-services-gateway-id":
        { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworkGateways/cntso-ssvcs-gw"}}'
    headers:
      content-range:
      - bytes 0-288/289
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7B983ED2A9"'
      last-modified:
      - Fri, 03 May 2019 03:58:26 GMT
      x-ms-blob-content-md5:
      - xALcpfUPxCvMsSRk7POtzA==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 23:02:23 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg?api-version=2019-05-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: 'b''b\''b\\\''b\\\\\\\''b\\\\\\\\\\\\\\\''b\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''{"properties":
      {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"local-gateway-name": {"type": "string",
      "metadata": {"description": "Specifies the local Virtual Network Gateway name"}},
      "local-subscription-id": {"type": "string", "metadata": {"description": "Local
      subscription id, this value is used to create a VPN connection between a local
      and remote Virtual Network Gateway"}}, "local-vnet-resourceGroup": {"type":
      "string", "metadata": {"description": "Local resource group that contains the
      Virtual Network, this value is used to create a local and remote Virtual Network
      Gateway"}}, "vpn-shared-key": {"type": "string", "metadata": {"description":
      "Specifies a VPN shared key. The same value has to be specified on both Virtual
      Network Gateways"}}, "local-gateway-location": {"type": "string", "metadata":
      {"description": "Specifies the remote Virtual Network Gateway location"}}, "remote-gateway-name":
      {"type": "string", "metadata": {"description": "Specifies the remote Virtual
      Network Gateway"}}, "remote-vnet-resourceGroup": {"type": "string", "metadata":
      {"description": "Remote Virtual Network resource group name"}}, "remote-subscription-id":
      {"type": "string", "metadata": {"description": "Remote Subscription Id"}}, "enable-bgp":
      {"type": "bool", "defaultValue": false, "metadata": {"description": "Value to
      specify if BGP is enabled or not"}}, "remote-connection-name": {"type": "string",
      "metadata": {"description": "Remote connection name"}}, "vnet-id": {"defaultValue":
      "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet",
      "type": "string"}, "vnet-name": {"defaultValue": "cntso-ssvcs-vnet", "type":
      "string"}, "vnet-resourceGroup": {"defaultValue": "cntso-ssvcs-net-rg", "type":
      "string"}, "shared-services-gateway-name": {"defaultValue": "cntso-ssvcs-gw",
      "type": "string"}, "shared-services-gateway-id": {"defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworkGateways/cntso-ssvcs-gw",
      "type": "string"}, "sas-key": {"defaultValue": "se=2019-05-03T20%3A58%3A26Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=ISupQU5yed%2Blr0tIA01hzqojrdlhSBNVnCFkEMp%2BjZk%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"local-gateway-resource-id": "[resourceId(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-subscription-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-vnet-resourceGroup\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')
      ,\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''Microsoft.Network/virtualNetworkGateways\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-gateway-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]",
      "remote-gateway-resource-id": "[resourceId(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''remote-subscription-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''remote-vnet-resourceGroup\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')
      ,\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''Microsoft.Network/virtualNetworkGateways\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''remote-gateway-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]"},
      "resources": [{"apiVersion": "2017-05-10", "name": "nestedDeployVGWConnection",
      "type": "Microsoft.Resources/deployments", "resourceGroup": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-vnet-resourceGroup\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "subscriptionId": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-subscription-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "[concat(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-to-\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''remote-connection-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]",
      "type": "Microsoft.Network/connections", "apiVersion": "2017-10-01", "location":
      "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-gateway-location\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "tags": {"connectionName": "[concat(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-to-\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''remote-connection-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]"},
      "properties": {"virtualNetworkGateway1": {"id": "[variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''local-gateway-resource-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]"},
      "virtualNetworkGateway2": {"id": "[variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''remote-gateway-resource-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]"},
      "enableBgp": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''enable-bgp\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "connectionType": "VNet2VNet", "routingWeight": 3, "sharedKey": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''vpn-shared-key\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]"}}]}}}],
      "outputs": {}}, "parameters": {"local-subscription-id": {"value": "00000000-0000-0000-0000-000000000000"},
      "local-vnet-resourceGroup": {"value": "cntso-ssvcs-net-rg"}, "local-gateway-name":
      {"value": "cntso-ssvcs-gw"}, "local-gateway-location": {"value": "West US 2"},
      "vpn-shared-key": {"value": "asodgfhjkaw4tu0w9vuijv0qu3409tu"}, "remote-subscription-id":
      {"value": "00000000-0000-0000-0000-000000000000"}, "remote-gateway-name": {"value":
      "cntso-onprem-gw"}, "remote-vnet-reso[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw-connect/operationStatuses/08586447509766099655?api-version=2019-05-01
  response:
    body:
      string: '{"status":"Succeeded"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw-connect?api-version=2019-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw-connect","name":"cntso-shared-services-ssvcs-deployment-vgw-connect","properties":{"templateHash":"1636526899972921708","parameters":{"local-gateway-name":{"type":"String","value":"cntso-ssvcs-gw"},"local-subscription-id":{"type":"String","value":"00000000-0000-0000-0000-000000000000"},"local-vnet-resourceGroup":{"type":"String","value":"cntso-ssvcs-net-rg"},"vpn-shared-key":{"type":"String","value":"asodgfhjkaw4tu0w9vuijv0qu3409tu"},"local-gateway-location":{"type":"String","value":"West
        US 2"},"remote-gateway-name":{"type":"String","value":"cntso-onprem-gw"},"remote-vnet-resourceGr[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 03:58:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6C9C2C8DFA212"'
      last-modified:
      - Thu, 25 Apr 2019 21:12:55 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 03 May 2019 03:58:59 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/vgw-connection/azureDeploy.parameters.output.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - mZFLkyvTelC5g8XnyQrpOw==
      etag:
      - '"0x8D6CF7BAC2EA4C9"'
      last-modified:
      - Fri, 03 May 2019 03:58:59 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
version: 1
