interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg==","permissions":"FULL"},{"keyName":"key2","value":"BARXTAxfMvR7WzSsdrD8Lt+60pbIP0lhpgw7aX6Hv+91UCXTxWc2Ekq2XZzwM50RfVbEPNh6nFCnp56bDjwpJg==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 03:56:22 GMT
      x-ms-range:
      - bytes=0-33554431
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/shared-services-net/azureDeploy.parameters.output.json
  response:
    body:
      string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet"},
        "vnet-name": { "value": "cntso-ssvcs-vnet"}, "vnet-resourceGroup": { "value":
        "cntso-ssvcs-net-rg"}}'
    headers:
      content-range:
      - bytes 0-313/314
      content-type:
      - application/octet-stream
      etag:
      - '"0x8D6CF7B3A133AA8"'
      last-modified:
      - Fri, 03 May 2019 03:55:48 GMT
      x-ms-blob-content-md5:
      - uuncXP3nwK/2kckRf2nBzg==
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Thu, 25 Apr 2019 22:42:15 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg?api-version=2019-05-01
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"deployment-prefix": {"type": "string",
      "metadata": {"description": "Deployment prefix. E.g. Organization-DeploymentType"}},
      "subscription-id": {"type": "string", "metadata": {"description": "Subscription
      where to provision the Virtual Network Gateway"}}, "gateway-type": {"type":
      "string", "metadata": {"description": "Specifies the gateway type. E.g. VPN,
      ExpressRoute"}}, "gateway-sku": {"type": "string", "metadata": {"description":
      "The Sku of the Gateway. This must be one of Basic, Standard or HighPerformance."}},
      "vpn-type": {"type": "string", "metadata": {"description": "Specifies the VPN
      type"}}, "vnet-id": {"type": "string", "metadata": {"description": "Shared services
      Virtual Network resource Id"}}, "vnet-resourceGroup": {"type": "string", "metadata":
      {"description": "Shared services Virtual Network resource group name"}}, "enable-bgp":
      {"type": "bool", "defaultValue": true, "metadata": {"description": "Value to
      specify if BGP is enabled or not"}}, "asn": {"type": "int", "defaultValue":
      65815, "metadata": {"description": "ASN value"}}, "vnet-name": {"defaultValue":
      "cntso-ssvcs-vnet", "type": "string"}, "sas-key": {"defaultValue": "se=2019-05-03T20%3A56%3A21Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=sXWM56NFNz0N01bP%2B72tZGATahTH75eSrCdqccGFJbw%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"gateway-name": "[concat(parameters(\\\\\\\\\\\\\\\''deployment-prefix\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\''-gw\\\\\\\\\\\\\\\'')]", "gateway-pip-name": "[concat(parameters(\\\\\\\\\\\\\\\''deployment-prefix\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\''-gw-pip\\\\\\\\\\\\\\\'')]", "gateway-pip-resource-name": "[concat(\\\\\\\\\\\\\\\''Microsoft.Network/publicIpAddresses/\\\\\\\\\\\\\\\'',variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\''))]",
      "gateway-subnet-id": "[concat(parameters(\\\\\\\\\\\\\\\''vnet-id\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\''/subnets/GatewaySubnet\\\\\\\\\\\\\\\'')]", "gateway-pip-id":
      "[resourceId(\\\\\\\\\\\\\\\''Microsoft.Network/publicIPAddresses\\\\\\\\\\\\\\\'',
      variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\''))]"}, "resources":
      [{"apiVersion": "2015-06-15", "type": "Microsoft.Network/publicIPAddresses",
      "name": "[variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\'')]", "location":
      "[resourceGroup().location]", "tags": {}, "properties": {"publicIPAllocationMethod":
      "Dynamic"}}, {"name": "[variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\'')]",
      "type": "Microsoft.Network/virtualNetworkGateways", "apiVersion": "2015-06-15",
      "location": "[resourceGroup().location]", "tags": {"displayName": "[variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\'')]"},
      "dependsOn": ["[variables(\\\\\\\\\\\\\\\''gateway-pip-resource-name\\\\\\\\\\\\\\\'')]"],
      "properties": {"ipConfigurations": [{"properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "[variables(\\\\\\\\\\\\\\\''gateway-subnet-id\\\\\\\\\\\\\\\'')]"},
      "publicIPAddress": {"id": "[variables(\\\\\\\\\\\\\\\''gateway-pip-id\\\\\\\\\\\\\\\'')]"}},
      "name": "vNetGatewayConfig"}], "enableBgp": "[parameters(\\\\\\\\\\\\\\\''enable-bgp\\\\\\\\\\\\\\\'')]",
      "bgpSettings": {"asn": "[parameters(\\\\\\\\\\\\\\\''asn\\\\\\\\\\\\\\\'')]"},
      "sku": {"name": "[parameters(\\\\\\\\\\\\\\\''gateway-sku\\\\\\\\\\\\\\\'')]",
      "tier": "[parameters(\\\\\\\\\\\\\\\''gateway-sku\\\\\\\\\\\\\\\'')]"}, "gatewayType":
      "[parameters(\\\\\\\\\\\\\\\''gateway-type\\\\\\\\\\\\\\\'')]", "vpnType": "[parameters(\\\\\\\\\\\\\\\''vpn-type\\\\\\\\\\\\\\\'')]"}}],
      "outputs": {"shared-services-gateway-name": {"type": "string", "value": "[variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\'')]"},
      "shared-services-gateway-id": {"type": "string", "value": "[resourceId(parameters(\\\\\\\\\\\\\\\''subscription-id\\\\\\\\\\\\\\\''),
      parameters(\\\\\\\\\\\\\\\''vnet-resourceGroup\\\\\\\\\\\\\\\''), \\\\\\\\\\\\\\\''Microsoft.Network/virtualNetworkGateways\\\\\\\\\\\\\\\'',
      variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\''))]"}}}, "parameters":
      {"deployment-prefix": {"value": "cntso-ssvcs"}, "gateway-type": {"value": "vpn"},
      "vpn-type": {"value": "RouteBased"}, "subscription-id": {"value": "00000000-0000-0000-0000-000000000000"},
      "gateway-sku": {"value": "VpnGw1"}, "vnet-id": {"value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet"},
      "vnet-name": {"value": "cntso-ssvcs-vnet"}, "vnet-resourceGroup": {"value":
      "cntso-ssvcs-net-rg"}, "sas-key": {"value": "se=2019-05-03T20%3A56%3A21Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=sXWM56NFNz0N01bP%2B72tZGATahTH75eSrCdqccGFJbw%3D"},
      "output-params-storage-key": {"value": "0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg=="},
      "output-params-storage-account-name": {"value": "storage"}}, "mode": "Incremental"}}\\\\\\\''\\\''\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw?api-version=2019-05-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw","name":"cntso-shared-services-ssvcs-deployment-vgw","properties":{"templateHash":"4449388814057469327","parameters":{"deployment-prefix":{"type":"String","value":"cntso-ssvcs"},"subscription-id":{"type":"String","value":"00000000-0000-0000-0000-000000000000"},"gateway-type":{"type":"String","value":"vpn"},"gateway-sku":{"type":"String","value":"VpnGw1"},"vpn-type":{"type":"String","value":"RouteBased"},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/cntso-ssvcs-vnet"},"vnet-resourceGroup":{"type":"String","value":"cntso-ssvcs-net-rg"},"enable-bgp":{"type":"Bool","value":true},"asn":{"type":"Int","value":65815},"vnet-name":{"type":"String","value":"cntso-ssvcs-vnet"},"sas-key":{"type":"String","value":"se=2019-05-03T20%3A56%3A21Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=sXWM56NFNz0N01bP%2B72tZGATahTH75eSrCdqccGFJbw%3D"},"output-params-storage-key":{"type":"String","value":"0Lxn7MclNOJd0igAwsi3GgU8iKqNo60VCAKsqaXr6qcRq44zjyaLnMSk76/impol61VpH/BhSLneDYkVbyqwbg=="},"output-params-storage-account-name":{"type":"String","value":"storage"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-05-03T03:56:24.4464934Z","duration":"PT0.356863S","correlationId":"c3ac7099-565a-44ef-918c-6ee7e6ba03dc","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"publicIPAddresses","locations":["westus2"]},{"resourceType":"virtualNetworkGateways","locations":["westus2"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/publicIPAddresses/cntso-ssvcs-gw-pip","resourceType":"Microsoft.Network/publicIPAddresses","resourceName":"cntso-ssvcs-gw-pip"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworkGateways/cntso-ssvcs-gw","resourceType":"Microsoft.Network/virtualNetworkGateways","resourceName":"cntso-ssvcs-gw"}]}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw/operationStatuses/08586447511013880063?api-version=2019-05-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/cntso-ssvcs-net-rg/providers/Microsoft.Resources/deployments/cntso-shared-services-ssvcs-deployment-vgw/operationStatuses/08586447511013880063?api-version=2019-05-01
  response:
    body:
      string: '{"status":"Running"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 03 May 2019 03:58:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D6C9C2C8DFA212"'
      last-modified:
      - Thu, 25 Apr 2019 21:12:55 GMT
      x-ms-has-immutability-policy:
      - 'false'
      x-ms-has-legal-hold:
      - 'false'
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: 'b''b\''b\\\''{"shared-services-gateway-name": { "value": "cntso-ssvcs-gw"},
      "shared-services-gateway-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cntso-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworkGateways/cntso-ssvcs-gw"}}\\\''\'''''
    headers:
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Fri, 03 May 2019 03:58:26 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://storage.blob.core.windows.net/output/cntso-shared-services-ssvcs/parameters/vgw/azureDeploy.parameters.output.json
  response:
    body:
      string: ''
    headers:
      content-md5:
      - xALcpfUPxCvMsSRk7POtzA==
      etag:
      - '"0x8D6CF7B983ED2A9"'
      last-modified:
      - Fri, 03 May 2019 03:58:26 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
version: 1
