interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA==","permissions":"FULL"},{"keyName":"key2","value":"i6qj7OB3AYeCFizUvPPi6d9uSvbMkEdVmGDVwhwTw9qmtFo597nyvohXgOMiDzYb8nMuu1ER9gumkA66Fi+tEw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"displayName": "permittedRegions", "description": "Policy
      to restrict resource creation to only certain regions", "policyRule": {"if":
      {"not": {"field": "location", "in": ["eastus", "westus", "westus2", "centralus",
      "westcentralus", "westeurope"]}}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"permittedRegions","policyType":"Custom","description":"Policy
        to restrict resource creation to only certain regions","metadata":{"category":"VDC"},"policyRule":{"if":{"not":{"field":"location","in":["eastus","westus","westus2","centralus","westcentralus","westeurope"]}},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","type":"Microsoft.Authorization/policyDefinitions","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "permittedRegions", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions"},
      "name": "permittedRegions"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"permittedRegions","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions","type":"Microsoft.Authorization/policyAssignments","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStandardTags", "description": "Policy
      to enforce standard tags", "policyRule": {"if": {"anyOf": [{"field": "tags.environment",
      "exists": false}, {"field": "tags.appCode", "exists": false}, {"field": "tags.managedBy",
      "exists": false}, {"field": "tags.source", "exists": false}, {"field": "tags.dataClassification",
      "exists": false}, {"field": "tags.supportTier", "exists": false}, {"field":
      "tags.costCenter", "exists": false}]}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStandardTags", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags"},
      "name": "enforceStandardTags"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStandardTags","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags","type":"Microsoft.Authorization/policyAssignments","name":"enforceStandardTags"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceAllowedVMImages", "description":
      "Policy to enforce the use of specific VM Images", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Compute/virtualMachines"}, {"not": {"field":
      "Microsoft.Compute/imageId", "in": "[parameters(''imageIds'')]"}}]}, "then":
      {"effect": "audit"}}, "metadata": {"category": "VDC"}, "parameters": {"imageIds":
      {"type": "array", "metadata": {"description": "The list of allowed VM Images.",
      "displayName": "Allowed VM Images"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceAllowedVMImages","policyType":"Custom","description":"Policy
        to enforce the use of specific VM Images","metadata":{"category":"VDC"},"parameters":{"imageIds":{"type":"Array","metadata":{"description":"The
        list of allowed VM Images.","displayName":"Allowed VM Images"}}},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"not":{"field":"Microsoft.Compute/imageId","in":"[parameters(''imageIds'')]"}}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages","type":"Microsoft.Authorization/policyDefinitions","name":"enforceAllowedVMImages"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "auditNSGUnassigned", "description": "Policy
      that audits all NSGs that are not assigned to a NIC or Subnet", "policyRule":
      {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Network/networkSecurityGroups"},
      {"allOf": [{"not": {"field": "Microsoft.Network/networkSecurityGroups/subnets[*].id",
      "exists": true}}, {"not": {"field": "Microsoft.Network/networkSecurityGroups/networkInterfaces[*].id",
      "exists": true}[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "auditNSGUnassigned", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned"},
      "name": "auditNSGUnassigned"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"auditNSGUnassigned","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned","type":"Microsoft.Authorization/policyAssignments","name":"auditNSGUnassigned"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageEncryption", "description":
      "Policy to restrict storage account creation to only those applying encryption",
      "policyRule": {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"},
      {"not": {"field": "Microsoft.Storage/storageAccounts/enableBlobEncryption",
      "equals": "true"}}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type:[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageEncryption", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption"},
      "name": "enforceStorageEncryption"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageEncryption","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageEncryption"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageHttpsAccess", "description":
      "Policy to enforce Https Access", "policyRule": {"if": {"allOf": [{"field":
      "type", "equals": "Microsoft.Storage/storageAccounts"}, {"field": "Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly",
      "equals": "false"}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceStorageHttpsAccess","policyType":"Custom","description":"Policy
        to enforce Https Access","metadata":{"category":"VDC"},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Storage/storageAccounts"},{"field":"Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly","equals":"false"}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyDefinitions","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageHttpsAccess", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess"},
      "name": "enforceStorageHttpsAccess"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageHttpsAccess","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageServiceEndpoint", "description":
      "Policy to enforce Storage Account service endpoint", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"}, {"not": {"field":
      "Microsoft.Storage/storageAccounts/networkAcls.virtualNetworkRules[*].id", "exists":
      true}}]}, "then": {"effect": "audit"}}, "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageServiceEndpoint",
      "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint"},
      "name": "enforceStorageServiceEndpoint"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageServiceEndpoint","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageServiceEndpoint"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Feb 2019 07:43:59 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-shared-services-ssvcs/parameters/shared-services-net/azureDeploy.parameters.output.json
  response:
    body: {string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/org-ssvcs-vnet"},
        "vnet-name": { "value": "org-ssvcs-vnet"}, "vnet-resourceGroup": { "value":
        "org-ssvcs-net-rg"}}'}
    headers:
      content-range: [bytes 0-285/286]
      content-type: [application/octet-stream]
      etag: ['"0x8D68CCF70DDD6BC"']
      last-modified: ['Thu, 07 Feb 2019 07:39:49 GMT']
      x-ms-blob-content-md5: [KMzWOl7QhCIrSbZKqeeLJw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Sat, 12 Jan 2019 04:50:57 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-ssvcs-net-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''b\\\\\\\\\\\\\\\''{"properties": {"template": {"$schema":
      "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"on-premises-gateway-name": {"type":
      "string", "metadata": {"description": "Specifies the On-premises gateway name"}},
      "on-premises-subscription-id": {"type": "string", "metadata": {"description":
      "On-premises subscription id, this value is used to create a VPN connection
      between the Shared services and on-premises"}}, "on-premises-vnet-rg": {"type":
      "string", "metadata": {"description": "On-premises resource group that contains
      the Virtual Network, this value is used to create a VPN connection between the
      Shared services and on-premises"}}, "on-premises-location": {"type": "string",
      "metadata": {"description": "Location of On-premises resource group that contains
      the Virtual Network Gateway, this value is used to create a VPN connection between
      the Shared services and on-premises"}}, "vpn-shared-key": {"type": "string",
      "metadata": {"description": "Specifies a VPN shared key. The same value has
      to be specified in On-premises and Azure"}}, "shared-services-gateway-name":
      {"type": "string", "metadata": {"description": "Specifies the Shared services
      gateway name"}}, "shared-services-vnet-resourceGroup": {"type": "string", "metadata":
      {"description": "Shared services Virtual Network resource group name"}}, "shared-services-subscription-id":
      {"type": "string", "metadata": {"description": "Shared services Subscription
      Id"}}, "enable-bgp": {"type": "bool", "defaultValue": false, "metadata": {"description":
      "Value to specify if BGP is enabled or not"}}, "deployment-name": {"type": "string",
      "metadata": {"description": "Shared services deployment name"}}, "vnet-id":
      {"defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/org-ssvcs-vnet",
      "type": "string"}, "vnet-name": {"defaultValue": "org-ssvcs-vnet", "type": "string"},
      "vnet-resourceGroup": {"defaultValue": "org-ssvcs-net-rg", "type": "string"},
      "sas-key": {"defaultValue": "se=2019-02-07T23%3A43%3A50Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=eVjfYFcGS/1/DnoIhyqlUVdxPaued9omnYdarsa4EyU%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"on-premises-gateway-resource-id": "[resourceId(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-subscription-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-vnet-rg\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')
      ,\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''Microsoft.Network/virtualNetworkGateways\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-gateway-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]",
      "shared-services-gateway-resource-id": "[resourceId(parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''shared-services-subscription-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''),
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''shared-services-vnet-resourceGroup\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')
      ,\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''Microsoft.Network/virtualNetworkGateways\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''shared-services-gateway-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]"},
      "resources": [{"apiVersion": "2017-05-10", "name": "nestedDeployVGWConnection",
      "type": "Microsoft.Resources/deployments", "resourceGroup": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-vnet-rg\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "subscriptionId": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-subscription-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"name": "[concat(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-to-\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''deployment-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]",
      "type": "Microsoft.Network/connections", "apiVersion": "2017-10-01", "location":
      "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-location\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "tags": {"displayName": "[concat(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-to-\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'',
      parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''deployment-name\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''))]"},
      "properties": {"virtualNetworkGateway1": {"id": "[variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''on-premises-gateway-resource-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]"},
      "virtualNetworkGateway2": {"id": "[variables(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''shared-services-gateway-resource-id\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]"},
      "enableBgp": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''enable-bgp\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]",
      "connectionType": "VNet2VNet", "routingWeight": 3, "sharedKey": "[parameters(\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\''vpn-shared-key\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'')]"}}]}}}],
      "outputs": {}}, "parameters": {"on-premises-subscription-id": {"value": "00000000-0000-0000-0000-000000000000"},
      "on-premises-vnet-rg": {"value": "org-onprem-net-rg"}, "on-premises-gateway-name":
      {"value": "org-onprem-gw"}, "vpn-shared-key": {"value": "asodgfhjkaw4tu0w9vuijv0qu3409tu"},
      "shared-services-subscription-id": {"value": "00000000-0000-0000-0000-000000000000"},
      "shared-services-gateway-name": {"value": "org-ssvcs-gw"}, "shared-services-vnet-resourceGroup":
      {"value":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-ssvcs-net-rg/providers/Microsoft.Resources/deployments/org-shared-services-ssvcs-deployment-onprem-vgw-connection/operationStatuses/08586520814377359007?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-ssvcs-net-rg/providers/Microsoft.Resources/deployments/org-shared-services-ssvcs-deployment-onprem-vgw-connection?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-net-rg/providers/Microsoft.Resources/deployments/org-shared-services-ssvcs-deployment-onprem-vgw-connection","name":"org-shared-services-ssvcs-deployment-onprem-vgw-connection","properties":{"templateHash":"11308665078084669754","parameters":{"on-premises-gateway-name":{"type":"String","value":"org-onprem-gw"},"on-premises-subscription-id":{"type":"String","value":"00000000-0000-0000-0000-000000000000"},"on-premises-vnet-rg":{"type":"String","value":"org-onprem-net-rg"},"on-premises-location":{"type":"String","value":"Central
        US"},"vpn-shared-key":{"type":"String","value":"asodgfhjkaw4tu0w9vuijv0qu3409tu"},"shared-services-gateway-name":{"type":"String","value":"org-ssvcs-gw"},"shared-services-vnet-resourceGroup":{"type":"String","value":"org-ssvcs-net-rg"},"shared-services-subscription-id":{"type":"String","value":"00000000-0000-0000-0000-000000000000"},"enable-bgp":{"type":"Bool","value":false},"deployment-name":{"type":"String","value":"ssvcs"},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-net-rg/providers/Microsoft.Network/virtualNetworks/org-ssvcs-vnet"},"vnet-name":{"type":"String","value":"org-ssvcs-vnet"},"vnet-resourceGroup":{"type":"String","value":"org-ssvcs-net-rg"},"sas-key":{"type":"String","value":"se=2019-02-07T23%3A43%3A50Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=eVjfYFcGS/1/DnoIhyqlUVdxPaued9omnYdarsa4EyU%3D"},"output-params-storage-key":{"type":"String","value":"abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA=="},"output-params-storage-account-name":{"type":"String","value":"storage"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2019-02-07T07:44:40.8868667Z","duration":"PT33.1339984S","correlationId":"b2f80a4c-53c8-4531-89f9-1d9be56acd8d","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[],"outputs":{},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/connections/on-premises-to-ssvcs"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Thu, 07 Feb 2019 07:45:09 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D677F58F5F4F8F"']
      last-modified: ['Fri, 11 Jan 2019 18:49:47 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Thu, 07 Feb 2019 07:45:10 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storage.blob.core.windows.net/output/org-shared-services-ssvcs/parameters/onprem-vgw-connection/azureDeploy.parameters.output.json
  response:
    body: {string: ''}
    headers:
      content-md5: [mZFLkyvTelC5g8XnyQrpOw==]
      etag: ['"0x8D68CD0308ACF5A"']
      last-modified: ['Thu, 07 Feb 2019 07:45:11 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
