interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts?api-version=2018-03-01-preview
  response:
    body: {string: '{"value":[{"id":"/providers/Microsoft.Billing/enrollmentAccounts/00000000-0000-0000-0000-000000000000","name":"00000000-0000-0000-0000-000000000000","properties":{"principalName":"virtualdatacenter@myaddomain.onmicrosoft.com","offerTypes":["MS-AZR-0017P","MS-AZR-0041P"]},"type":"Microsoft.Billing/enrollmentAccounts"}]}'}
    headers:
      api-supported-versions: [2018-03-01-preview]
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-tenant-resource-requests: ['499']
    status: {code: 200, message: OK}
- request:
    body: '{"displayName": "TestSubscription02", "owners": [{"objectId": "00000000-0000-0000-0000-000000000000"}],
      "offerType": "MS-AZR-0017P"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/providers/Microsoft.Billing/enrollmentAccounts/00000000-0000-0000-0000-000000000000/providers/Microsoft.Subscription/createSubscription?api-version=2018-03-01-preview
  response:
    body: {string: '{}'}
    headers:
      api-supported-versions: ['2017-11-01-preview, 2018-03-01-preview, 2018-11-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/0de11890-0810-429d-b0be-df25ebeb65af?api-version=2018-03-01-preview']
      x-ms-ratelimit-remaining-tenant-resource-requests: ['499']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/0de11890-0810-429d-b0be-df25ebeb65af?api-version=2018-03-01-preview
  response:
    body: {string: '{}'}
    headers:
      api-supported-versions: [2018-03-01-preview]
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/0de11890-0810-429d-b0be-df25ebeb65af?api-version=2018-03-01-preview']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/0de11890-0810-429d-b0be-df25ebeb65af?api-version=2018-03-01-preview
  response:
    body: {string: '{"subscriptionLink":"/subscriptions/00000000-0000-0000-0000-000000000000"}'}
    headers:
      api-supported-versions: [2018-03-01-preview]
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
