interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA==","permissions":"FULL"},{"keyName":"key2","value":"i6qj7OB3AYeCFizUvPPi6d9uSvbMkEdVmGDVwhwTw9qmtFo597nyvohXgOMiDzYb8nMuu1ER9gumkA66Fi+tEw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 11 Jan 2019 18:50:25 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-on-premises-onprem/parameters/net/azureDeploy.parameters.output.json
  response:
    body: {string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/virtualNetworks/org-onprem-vnet"},
        "vnet-name": { "value": "org-onprem-vnet"}, "vnet-resourceGroup": { "value":
        "org-onprem-net-rg"}}'}
    headers:
      content-range: [bytes 0-285/286]
      content-type: [application/octet-stream]
      etag: ['"0x8D677F5A596CFF8"']
      last-modified: ['Fri, 11 Jan 2019 18:50:24 GMT']
      x-ms-blob-content-md5: [tIlhnJg6uZvo4lGIMZ9Ayg==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Fri, 11 Jan 2019 18:50:24 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"properties": {"template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"deployment-prefix": {"type": "string",
      "metadata": {"description": "Deployment prefix. E.g. Organization-DeploymentType"}},
      "subscription-id": {"type": "string", "metadata": {"description": "Subscription
      where to provision the Virtual Network Gateway"}}, "gateway-type": {"type":
      "string", "metadata": {"description": "Specifies the gateway type. E.g. VPN,
      ExpressRoute"}}, "gateway-sku": {"type": "string", "metadata": {"description":
      "The Sku of the Gateway. This must be one of Basic, Standard or HighPerformance."}},
      "vpn-type": {"type": "string", "metadata": {"description": "Specifies the VPN
      type"}}, "vnet-id": {"type": "string", "metadata": {"description": "Virtual
      Network resource Id"}}, "vnet-resourceGroup": {"type": "string", "metadata":
      {"description": "Virtual Network resource group name"}}, "enable-bgp": {"type":
      "bool", "defaultValue": true, "metadata": {"description": "Value to specify
      if BGP is enabled or not"}}, "asn": {"type": "int", "defaultValue": 65015, "metadata":
      {"description": "ASN value"}}, "gateway-subnet-name": {"type": "string", "metadata":
      {"description": "VPN Gateway subnet name"}}, "vnet-name": {"defaultValue": "org-onprem-vnet",
      "type": "string"}, "sas-key": {"defaultValue": "se=2019-01-12T18%3A50%3A25Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=3NpfcfxKIxLdCfN302pGLV3LhPlUimkOzhLqbwoTCnM%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"gateway-name": "[concat(parameters(\\\\\\\\\\\\\\\''deployment-prefix\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\''-gw\\\\\\\\\\\\\\\'')]", "gateway-pip-name": "[concat(parameters(\\\\\\\\\\\\\\\''deployment-prefix\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\''-gw-pip\\\\\\\\\\\\\\\'')]", "gateway-pip-resource-name": "[concat(\\\\\\\\\\\\\\\''Microsoft.Network/publicIpAddresses/\\\\\\\\\\\\\\\'',variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\''))]",
      "gateway-subnet-id": "[concat(parameters(\\\\\\\\\\\\\\\''vnet-id\\\\\\\\\\\\\\\''),
      \\\\\\\\\\\\\\\''/subnets/\\\\\\\\\\\\\\\'', parameters(\\\\\\\\\\\\\\\''gateway-subnet-name\\\\\\\\\\\\\\\''))]",
      "gateway-pip-id": "[resourceId(\\\\\\\\\\\\\\\''Microsoft.Network/publicIPAddresses\\\\\\\\\\\\\\\'',
      variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\''))]"}, "resources":
      [{"apiVersion": "2017-05-10", "name": "nestedDeployVGW", "type": "Microsoft.Resources/deployments",
      "resourceGroup": "[parameters(\\\\\\\\\\\\\\\''vnet-resourceGroup\\\\\\\\\\\\\\\'')]",
      "subscriptionId": "[parameters(\\\\\\\\\\\\\\\''subscription-id\\\\\\\\\\\\\\\'')]",
      "properties": {"mode": "Incremental", "template": {"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {}, "variables": {}, "resources":
      [{"apiVersion": "2015-06-15", "type": "Microsoft.Network/publicIPAddresses",
      "name": "[variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\'')]", "location":
      "[resourceGroup().location]", "tags": {"displayName": "[variables(\\\\\\\\\\\\\\\''gateway-pip-name\\\\\\\\\\\\\\\'')]"},
      "properties": {"publicIPAllocationMethod": "Dynamic"}}, {"name": "[variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\'')]",
      "type": "Microsoft.Network/virtualNetworkGateways", "apiVersion": "2015-06-15",
      "location": "[resourceGroup().location]", "tags": {"displayName": "[variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\'')]"},
      "dependsOn": ["[variables(\\\\\\\\\\\\\\\''gateway-pip-resource-name\\\\\\\\\\\\\\\'')]"],
      "properties": {"ipConfigurations": [{"properties": {"privateIPAllocationMethod":
      "Dynamic", "subnet": {"id": "[variables(\\\\\\\\\\\\\\\''gateway-subnet-id\\\\\\\\\\\\\\\'')]"},
      "publicIPAddress": {"id": "[variables(\\\\\\\\\\\\\\\''gateway-pip-id\\\\\\\\\\\\\\\'')]"}},
      "name": "vNetGatewayConfig"}], "enableBgp": "[parameters(\\\\\\\\\\\\\\\''enable-bgp\\\\\\\\\\\\\\\'')]",
      "bgpSettings": {"asn": "[parameters(\\\\\\\\\\\\\\\''asn\\\\\\\\\\\\\\\'')]"},
      "sku": {"name": "[parameters(\\\\\\\\\\\\\\\''gateway-sku\\\\\\\\\\\\\\\'')]",
      "tier": "[parameters(\\\\\\\\\\\\\\\''gateway-sku\\\\\\\\\\\\\\\'')]"}, "gatewayType":
      "[parameters(\\\\\\\\\\\\\\\''gateway-type\\\\\\\\\\\\\\\'')]", "vpnType": "[parameters(\\\\\\\\\\\\\\\''vpn-type\\\\\\\\\\\\\\\'')]"}}]}}}],
      "outputs": {"shared-services-gateway-name": {"type": "string", "value": "[variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\'')]"},
      "shared-services-gateway-id": {"type": "string", "value": "[resourceId(parameters(\\\\\\\\\\\\\\\''subscription-id\\\\\\\\\\\\\\\''),
      parameters(\\\\\\\\\\\\\\\''vnet-resourceGroup\\\\\\\\\\\\\\\''), \\\\\\\\\\\\\\\''Microsoft.Network/virtualNetworkGateways\\\\\\\\\\\\\\\'',
      variables(\\\\\\\\\\\\\\\''gateway-name\\\\\\\\\\\\\\\''))]"}}}, "parameters":
      {"deployment-prefix": {"value": "org-onprem"}, "gateway-type": {"value": "vpn"},
      "vpn-type": {"value": "RouteBased"}, "subscription-id": {"value": "00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-vgw/operationStatuses/08586543742572363630?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-vgw?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-vgw","name":"org-on-premises-onprem-deployment-vgw","properties":{"templateHash":"17138334760267126887","parameters":{"deployment-prefix":{"type":"String","value":"org-onprem"},"subscription-id":{"type":"String","value":"00000000-0000-0000-0000-000000000000"},"gateway-type":{"type":"String","value":"vpn"},"gateway-sku":{"type":"String","value":"VpnGw1"},"vpn-type":{"type":"String","value":"RouteBased"},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/virtualNetworks/org-onprem-vnet"},"vnet-resourceGroup":{"type":"String","value":"org-onprem-net-rg"},"enable-bgp":{"type":"Bool","value":true},"asn":{"type":"Int","value":65015},"gateway-subnet-name":{"type":"String","value":"GatewaySubnet"},"vnet-name":{"type":"String","value":"org-onprem-vnet"},"sas-key":{"type":"String","value":"se=2019-01-12T18%3A50%3A25Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=3NpfcfxKIxLdCfN302pGLV3LhPlUimkOzhLqbwoTCnM%3D"},"output-params-storage-key":{"type":"String","value":"abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA=="},"output-params-storage-account-name":{"type":"String","value":"storage"}},"mode":"Incremental","provisioningState":"Succeeded","timestamp":"2019-01-11T19:10:15.9322501Z","duration":"PT19M47.6909839S","correlationId":"640731a0-bece-44b4-981d-b262e2182a4d","providers":[{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[],"outputs":{"shared-services-gateway-name":{"type":"String","value":"org-onprem-gw"},"shared-services-gateway-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/virtualNetworkGateways/org-onprem-gw"}},"outputResources":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/publicIPAddresses/org-onprem-gw-pip"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/virtualNetworkGateways/org-onprem-gw"}]}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 11 Jan 2019 19:10:17 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D677F58F5F4F8F"']
      last-modified: ['Fri, 11 Jan 2019 18:49:47 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"shared-services-gateway-name": { "value": "org-onprem-gw"},
      "shared-services-gateway-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/virtualNetworkGateways/org-onprem-gw"}}\\\\\\\''\\\''\'''''
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 11 Jan 2019 19:10:17 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storage.blob.core.windows.net/output/org-on-premises-onprem/parameters/vgw/azureDeploy.parameters.output.json
  response:
    body: {string: ''}
    headers:
      content-md5: [qjNGE3+bJvA2HhKJUJk/1g==]
      etag: ['"0x8D677F86CC55882"']
      last-modified: ['Fri, 11 Jan 2019 19:10:17 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
