interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA==","permissions":"FULL"},{"keyName":"key2","value":"i6qj7OB3AYeCFizUvPPi6d9uSvbMkEdVmGDVwhwTw9qmtFo597nyvohXgOMiDzYb8nMuu1ER9gumkA66Fi+tEw==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 11 Jan 2019 18:49:49 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-on-premises-onprem/parameters/nsg/azureDeploy.parameters.output.json
  response:
    body: {string: '{}'}
    headers:
      content-range: [bytes 0-1/2]
      content-type: [application/octet-stream]
      etag: ['"0x8D677F58F723C4A"']
      last-modified: ['Fri, 11 Jan 2019 18:49:47 GMT']
      x-ms-blob-content-md5: [mZFLkyvTelC5g8XnyQrpOw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Fri, 11 Jan 2019 18:49:47 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: 'b''b\''{"properties": {"template": {"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
      "contentVersion": "1.0.0.0", "parameters": {"deployment-prefix": {"type": "string",
      "metadata": {"description": ""}}, "subnets": {"type": "array", "metadata": {"description":
      ""}}, "vnet-address-prefix": {"type": "string", "metadata": {"description":
      ""}}, "vnet-dns-servers": {"type": "array", "metadata": {"description": "Specifies
      the DNS servers to be associated to the Shared services Virtual Network"}},
      "sas-key": {"defaultValue": "se=2019-01-12T18%3A49%3A48Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=X1aM/bkhOYcHl/SQtJfKM1aYQUZLkD3ApMjpucgIXCQ%3D",
      "type": "string"}, "output-params-storage-key": {"defaultValue": "abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA==",
      "type": "string"}, "output-params-storage-account-name": {"defaultValue": "storage",
      "type": "string"}}, "variables": {"on-premises-vnet-name": "[concat(parameters(\\\''deployment-prefix\\\''),
      \\\''-vnet\\\'')]"}, "resources": [{"type": "Microsoft.Network/virtualNetworks",
      "apiVersion": "2018-02-01", "location": "[resourceGroup().location]", "name":
      "[variables(\\\''on-premises-vnet-name\\\'')]", "tags": {"displayName": "[variables(\\\''on-premises-vnet-name\\\'')]"},
      "properties": {"addressSpace": {"addressPrefixes": ["[parameters(\\\''vnet-address-prefix\\\'')]"]},
      "dhcpOptions": {"dnsServers": "[parameters(\\\''vnet-dns-servers\\\'')]"}, "copy":
      [{"name": "subnets", "count": "[length(parameters(\\\''subnets\\\''))]", "input":
      {"name": "[parameters(\\\''subnets\\\'')[copyIndex(\\\''subnets\\\'')].name]",
      "properties": {"addressPrefix": "[parameters(\\\''subnets\\\'')[copyIndex(\\\''subnets\\\'')][\\\''address-prefix\\\'']]",
      "networkSecurityGroup": "[if(equals(parameters(\\\''subnets\\\'')[copyIndex(\\\''subnets\\\'')][\\\''network-security-group\\\''],
      \\\''\\\''), json(\\\''null\\\''), json(concat(\\\''{\\\\"id\\\\": \\\\"\\\'',
      resourceId(\\\''Microsoft.Network/networkSecurityGroups\\\'', concat(parameters(\\\''deployment-prefix\\\''),
      \\\''-\\\'', parameters(\\\''subnets\\\'')[copyIndex(\\\''subnets\\\'')][\\\''network-security-group\\\''],
      \\\''-nsg\\\'')), \\\''\\\\"}\\\'')))]"}}}]}}], "outputs": {"vnet-id": {"type":
      "string", "value": "[resourceId(\\\''Microsoft.Network/virtualNetworks\\\'',
      variables(\\\''on-premises-vnet-name\\\''))]"}, "vnet-name": {"type": "string",
      "value": "[variables(\\\''on-premises-vnet-name\\\'')]"}, "vnet-resourceGroup":
      {"type": "string", "value": "[resourceGroup().name]"}}}, "parameters": {"deployment-prefix":
      {"value": "org-onprem"}, "subnets": {"value": [{"name": "default", "address-prefix":
      "192.168.1.0/28", "network-security-group": "default", "user-defined-route":
      ""}, {"name": "GatewaySubnet", "address-prefix": "192.168.1.16/28", "network-security-group":
      "", "user-defined-route": ""}]}, "vnet-address-prefix": {"value": "192.168.1.0/27"},
      "vnet-dns-servers": {"value": ["192.168.1.4", "168.63.129.16"]}, "sas-key":
      {"value": "se=2019-01-12T18%3A49%3A48Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=X1aM/bkhOYcHl/SQtJfKM1aYQUZLkD3ApMjpucgIXCQ%3D"},
      "output-params-storage-key": {"value": "abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA=="},
      "output-params-storage-account-name": {"value": "storage"}}, "mode": "Incremental"}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-net?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-net","name":"org-on-premises-onprem-deployment-net","properties":{"templateHash":"13638826519111439059","parameters":{"deployment-prefix":{"type":"String","value":"org-onprem"},"subnets":{"type":"Array","value":[{"name":"default","address-prefix":"192.168.1.0/28","network-security-group":"default","user-defined-route":""},{"name":"GatewaySubnet","address-prefix":"192.168.1.16/28","network-security-group":"","user-defined-route":""}]},"vnet-address-prefix":{"type":"String","value":"192.168.1.0/27"},"vnet-dns-servers":{"type":"Array","value":["192.168.1.4","168.63.129.16"]},"sas-key":{"type":"String","value":"se=2019-01-12T18%3A49%3A48Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=X1aM/bkhOYcHl/SQtJfKM1aYQUZLkD3ApMjpucgIXCQ%3D"},"output-params-storage-key":{"type":"String","value":"abhilQXu5bl0SupY1dseiX95b6eBNA6R0Ho0d9FbHpTFC+B1cEUhgWr9oIEagQXGdilU5raOIpH5Pq/XVv7ifA=="},"output-params-storage-account-name":{"type":"String","value":"storage"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-01-11T18:49:52.588848Z","duration":"PT0.7727368S","correlationId":"c380a3e8-423b-4858-a3d5-c6ce87ea8a8b","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"virtualNetworks","locations":["centralus"]}]}],"dependencies":[]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-net/operationStatuses/08586543742936615175?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-onprem-net-rg/providers/Microsoft.Resources/deployments/org-on-premises-onprem-deployment-net/operationStatuses/08586543742936615175?api-version=2018-05-01
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Fri, 11 Jan 2019 18:50:24 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D677F58F5F4F8F"']
      last-modified: ['Fri, 11 Jan 2019 18:49:47 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: 'b''b\''b\\\''b\\\\\\\''{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-onprem-net-rg/providers/Microsoft.Network/virtualNetworks/org-onprem-vnet"},
      "vnet-name": { "value": "org-onprem-vnet"}, "vnet-resourceGroup": { "value":
      "org-onprem-net-rg"}}\\\\\\\''\\\''\'''''
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Fri, 11 Jan 2019 18:50:24 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storage.blob.core.windows.net/output/org-on-premises-onprem/parameters/net/azureDeploy.parameters.output.json
  response:
    body: {string: ''}
    headers:
      content-md5: [tIlhnJg6uZvo4lGIMZ9Ayg==]
      etag: ['"0x8D677F5A596CFF8"']
      last-modified: ['Fri, 11 Jan 2019 18:50:24 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
