interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g==","permissions":"FULL"},{"keyName":"key2","value":"Qt4jlr+vbLCxJo6xXTAlgWEXGo27Lz8jmQRQ4yIPsJD5CUM48N75AxWrH71MIJIu12thzJH4T3VUZ4BvKrqhrQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: '{"properties": {"displayName": "permittedRegions", "description": "Policy
      to restrict resource creation to only certain regions", "policyRule": {"if":
      {"not": {"field": "location", "in": ["eastus", "westus", "westus2", "centralus",
      "westcentralus", "westeurope"]}}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"permittedRegions","policyType":"Custom","description":"Policy
        to restrict resource creation to only certain regions","metadata":{"category":"VDC"},"policyRule":{"if":{"not":{"field":"location","in":["eastus","westus","westus2","centralus","westcentralus","westeurope"]}},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","type":"Microsoft.Authorization/policyDefinitions","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "permittedRegions", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions"},
      "name": "permittedRegions"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"permittedRegions","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions","type":"Microsoft.Authorization/policyAssignments","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStandardTags", "description": "Policy
      to enforce standard tags", "policyRule": {"if": {"anyOf": [{"field": "tags.environment",
      "exists": false}, {"field": "tags.appCode", "exists": false}, {"field": "tags.managedBy",
      "exists": false}, {"field": "tags.source", "exists": false}, {"field": "tags.dataClassification",
      "exists": false}, {"field": "tags.supportTier", "exists": false}, {"field":
      "tags.costCenter", "exists": false}]}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStandardTags", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags"},
      "name": "enforceStandardTags"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStandardTags","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags","type":"Microsoft.Authorization/policyAssignments","name":"enforceStandardTags"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceAllowedVMImages", "description":
      "Policy to enforce the use of specific VM Images", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Compute/virtualMachines"}, {"not": {"field":
      "Microsoft.Compute/imageId", "in": "[parameters(''imageIds'')]"}}]}, "then":
      {"effect": "audit"}}, "metadata": {"category": "VDC"}, "parameters": {"imageIds":
      {"type": "array", "metadata": {"description": "The list of allowed VM Images.",
      "displayName": "Allowed VM Images"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceAllowedVMImages","policyType":"Custom","description":"Policy
        to enforce the use of specific VM Images","metadata":{"category":"VDC"},"parameters":{"imageIds":{"type":"Array","metadata":{"description":"The
        list of allowed VM Images.","displayName":"Allowed VM Images"}}},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"not":{"field":"Microsoft.Compute/imageId","in":"[parameters(''imageIds'')]"}}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages","type":"Microsoft.Authorization/policyDefinitions","name":"enforceAllowedVMImages"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "auditNSGUnassigned", "description": "Policy
      that audits all NSGs that are not assigned to a NIC or Subnet", "policyRule":
      {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Network/networkSecurityGroups"},
      {"allOf": [{"not": {"field": "Microsoft.Network/networkSecurityGroups/subnets[*].id",
      "exists": true}}, {"not": {"field": "Microsoft.Network/networkSecurityGroups/networkInterfaces[*].id",
      "exists": true}[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "auditNSGUnassigned", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned"},
      "name": "auditNSGUnassigned"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"auditNSGUnassigned","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned","type":"Microsoft.Authorization/policyAssignments","name":"auditNSGUnassigned"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageEncryption", "description":
      "Policy to restrict storage account creation to only those applying encryption",
      "policyRule": {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"},
      {"not": {"field": "Microsoft.Storage/storageAccounts/enableBlobEncryption",
      "equals": "true"}}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type:[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageEncryption", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption"},
      "name": "enforceStorageEncryption"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageEncryption","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageEncryption"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageHttpsAccess", "description":
      "Policy to enforce Https Access", "policyRule": {"if": {"allOf": [{"field":
      "type", "equals": "Microsoft.Storage/storageAccounts"}, {"field": "Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly",
      "equals": "false"}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceStorageHttpsAccess","policyType":"Custom","description":"Policy
        to enforce Https Access","metadata":{"category":"VDC"},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Storage/storageAccounts"},{"field":"Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly","equals":"false"}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyDefinitions","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageHttpsAccess", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess"},
      "name": "enforceStorageHttpsAccess"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageHttpsAccess","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageServiceEndpoint", "description":
      "Policy to enforce Storage Account service endpoint", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"}, {"not": {"field":
      "Microsoft.Storage/storageAccounts/networkAcls.virtualNetworkRules[*].id", "exists":
      true}}]}, "then": {"effect": "audit"}}, "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageServiceEndpoint",
      "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint"},
      "name": "enforceStorageServiceEndpoint"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageServiceEndpoint","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageServiceEndpoint"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 18:55:33 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-workload-sap/parameters/workload-net/azureDeploy.parameters.output.json
  response:
    body: {string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-net-rg/providers/Microsoft.Network/virtualNetworks/org-sap-vnet"},
        "vnet-name": { "value": "org-sap-vnet"}, "vnet-resourceGroup": { "value":
        "org-sap-net-rg"}}'}
    headers:
      content-range: [bytes 0-273/274]
      content-type: [application/octet-stream]
      etag: ['"0x8D678BF5BCD56C9"']
      last-modified: ['Sat, 12 Jan 2019 18:54:19 GMT']
      x-ms-blob-content-md5: [z8DJAOhNDP7DW1L8NU2hdw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Sat, 12 Jan 2019 18:54:19 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-sap-iscsi-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: '{"location": "Central US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-sap-iscsi-rg?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg","name":"org-sap-iscsi-rg","location":"centralus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      12695 is larger than 10KB. !!!'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-sap-iscsi-rg/providers/Microsoft.Resources/deployments/org-workload-sap-deployment-iscsi?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Resources/deployments/org-workload-sap-deployment-iscsi","name":"org-workload-sap-deployment-iscsi","properties":{"templateHash":"5422046890840793699","parameters":{"deployment-prefix":{"type":"String","value":"org-sap"},"output-params-storage-key":{"type":"String","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g=="},"output-params-storage-account-name":{"type":"String","value":"storage"},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-net-rg/providers/Microsoft.Network/virtualNetworks/org-sap-vnet"},"default-subnet-name":{"type":"String","value":"default"},"iscsi-ip":{"type":"String","value":"10.6.0.4"},"extension-name":{"type":"String","value":"iscsi"},"admin-username":{"type":"String","value":"admin-user"},"admin-password":{"type":"SecureString","reference":{"keyVault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-kv-rg/providers/Microsoft.KeyVault/vaults/org-sap-kv"},"secretName":"admin-user"}},"virtualMachine-size":{"type":"String","value":"Standard_DS2_v2"},"os-type":{"type":"String","value":"SLES
        12 SP3"},"iqn1":{"type":"String","value":"iqn.1991-05.com.microsoft:nfsserver-target"},"iqn1-client1":{"type":"String","value":"iqn.1991-05.com.microsoft:nfsserver-target:nfsvm1"},"iqn1-client2":{"type":"String","value":"iqn.1991-05.com.microsoft:nfsserver-target:nfsvm2"},"iqn2":{"type":"String","value":"iqn.1991-05.com.microsoft:hana-target"},"iqn2-client1":{"type":"String","value":"iqn.1991-05.com.microsoft:hana-target:hanavm1"},"iqn2-client2":{"type":"String","value":"iqn.1991-05.com.microsoft:hana-target:hanavm2"},"iqn3":{"type":"String","value":"iqn.1991-05.com.microsoft:ascs-target"},"iqn3-client1":{"type":"String","value":"iqn.1991-05.com.microsoft:ascs-target:ascsvm1"},"iqn3-client2":{"type":"String","value":"iqn.1991-05.com.microsoft:ascs-target:ascsvm2"},"vnet-name":{"type":"String","value":"org-sap-vnet"},"vnet-resourceGroup":{"type":"String","value":"org-sap-net-rg"},"sas-key":{"type":"String","value":"se=2019-01-13T18%3A55%3A33Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=W5Gub9ZWh/CumLwLX413Ho4rbN1bStOoW/4J724FFs8%3D"}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-01-12T18:55:38.1898119Z","duration":"PT1.0419566S","correlationId":"2a596201-4525-48d1-baad-eb594f5ef099","providers":[{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"networkInterfaces","locations":["centralus"]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["centralus"]}]},{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"virtualMachines","locations":["centralus"]},{"resourceType":"virtualMachines/extensions","locations":["centralus"]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Network/networkInterfaces/org-sap-iscsi-vm1-nic","resourceType":"Microsoft.Network/networkInterfaces","resourceName":"org-sap-iscsi-vm1-nic"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Storage/storageAccounts/iscsidiagpa56xlw33bjk6p","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"iscsidiagpa56xlw33bjk6p"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Storage/storageAccounts/iscsidiagpa56xlw33bjk6p","resourceType":"Microsoft.Storage/storageAccounts","resourceName":"iscsidiagpa56xlw33bjk6p","apiVersion":"2016-12-01"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Compute/virtualMachines/org-sap-iscsi-vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"org-sap-iscsi-vm1"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Compute/virtualMachines/org-sap-iscsi-vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"org-sap-iscsi-vm1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Compute/virtualMachines/org-sap-iscsi-vm1/extensions/NetworkWatcher","resourceType":"Microsoft.Compute/virtualMachines/extensions","resourceName":"org-sap-iscsi-vm1/NetworkWatcher"},{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Compute/virtualMachines/org-sap-iscsi-vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"org-sap-iscsi-vm1"}],"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-sap-iscsi-rg/providers/Microsoft.Compute/virtualMachines/org-sap-iscsi-vm1/extensions/ISCSISetup","resourceType":"Microsoft.Compute/virtualMachines/extensions","resourceName":"org-sap-iscsi-vm1/ISCSISetup"}]}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-sap-iscsi-rg/providers/Microsoft.Resources/deployments/org-workload-sap-deployment-iscsi/operationStatuses/08586542875483298347?api-version=2018-05-01']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-sap-iscsi-rg/providers/Microsoft.Resources/deployments/org-workload-sap-deployment-iscsi/operationStatuses/08586542875483298347?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 19:14:56 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D6785457412265"']
      last-modified: ['Sat, 12 Jan 2019 06:08:15 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Sat, 12 Jan 2019 19:14:56 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storage.blob.core.windows.net/output/org-workload-sap/parameters/iscsi/azureDeploy.parameters.output.json
  response:
    body: {string: ''}
    headers:
      content-md5: [mZFLkyvTelC5g8XnyQrpOw==]
      etag: ['"0x8D678C23D69ED0B"']
      last-modified: ['Sat, 12 Jan 2019 19:14:56 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
