interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/vdc-storage-rg/providers/Microsoft.Storage/storageAccounts/storage/listKeys?api-version=2018-02-01
  response:
    body: {string: '{"keys":[{"keyName":"key1","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g==","permissions":"FULL"},{"keyName":"key2","value":"Qt4jlr+vbLCxJo6xXTAlgWEXGo27Lz8jmQRQ4yIPsJD5CUM48N75AxWrH71MIJIu12thzJH4T3VUZ4BvKrqhrQ==","permissions":"FULL"}]}'}
    headers:
      content-type: [application/json]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"properties": {"displayName": "permittedRegions", "description": "Policy
      to restrict resource creation to only certain regions", "policyRule": {"if":
      {"not": {"field": "location", "in": ["eastus", "westus", "westus2", "centralus",
      "westcentralus", "westeurope"]}}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"permittedRegions","policyType":"Custom","description":"Policy
        to restrict resource creation to only certain regions","metadata":{"category":"VDC"},"policyRule":{"if":{"not":{"field":"location","in":["eastus","westus","westus2","centralus","westcentralus","westeurope"]}},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","type":"Microsoft.Authorization/policyDefinitions","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1193']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "permittedRegions", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions"},
      "name": "permittedRegions"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"permittedRegions","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/permittedRegions","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/permittedRegions","type":"Microsoft.Authorization/policyAssignments","name":"permittedRegions"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStandardTags", "description": "Policy
      to enforce standard tags", "policyRule": {"if": {"anyOf": [{"field": "tags.environment",
      "exists": false}, {"field": "tags.appCode", "exists": false}, {"field": "tags.managedBy",
      "exists": false}, {"field": "tags.source", "exists": false}, {"field": "tags.dataClassification",
      "exists": false}, {"field": "tags.supportTier", "exists": false}, {"field":
      "tags.costCenter", "exists": false}]}, "then": {"effect": "audit"}}, "metadata":
      {"category": "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStandardTags", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags"},
      "name": "enforceStandardTags"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStandardTags","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStandardTags","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStandardTags","type":"Microsoft.Authorization/policyAssignments","name":"enforceStandardTags"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceAllowedVMImages", "description":
      "Policy to enforce the use of specific VM Images", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Compute/virtualMachines"}, {"not": {"field":
      "Microsoft.Compute/imageId", "in": "[parameters(''imageIds'')]"}}]}, "then":
      {"effect": "audit"}}, "metadata": {"category": "VDC"}, "parameters": {"imageIds":
      {"type": "array", "metadata": {"description": "The list of allowed VM Images.",
      "displayName": "Allowed VM Images"}}}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceAllowedVMImages","policyType":"Custom","description":"Policy
        to enforce the use of specific VM Images","metadata":{"category":"VDC"},"parameters":{"imageIds":{"type":"Array","metadata":{"description":"The
        list of allowed VM Images.","displayName":"Allowed VM Images"}}},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Compute/virtualMachines"},{"not":{"field":"Microsoft.Compute/imageId","in":"[parameters(''imageIds'')]"}}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceAllowedVMImages","type":"Microsoft.Authorization/policyDefinitions","name":"enforceAllowedVMImages"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "auditNSGUnassigned", "description": "Policy
      that audits all NSGs that are not assigned to a NIC or Subnet", "policyRule":
      {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Network/networkSecurityGroups"},
      {"allOf": [{"not": {"field": "Microsoft.Network/networkSecurityGroups/subnets[*].id",
      "exists": true}}, {"not": {"field": "Microsoft.Network/networkSecurityGroups/networkInterfaces[*].id",
      "exists": true}[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "auditNSGUnassigned", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned"},
      "name": "auditNSGUnassigned"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"auditNSGUnassigned","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/auditNSGUnassigned","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/auditNSGUnassigned","type":"Microsoft.Authorization/policyAssignments","name":"auditNSGUnassigned"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageEncryption", "description":
      "Policy to restrict storage account creation to only those applying encryption",
      "policyRule": {"if": {"allOf": [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"},
      {"not": {"field": "Microsoft.Storage/storageAccounts/enableBlobEncryption",
      "equals": "true"}}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type:[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageEncryption", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption"},
      "name": "enforceStorageEncryption"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageEncryption","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageEncryption","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageEncryption","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageEncryption"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageHttpsAccess", "description":
      "Policy to enforce Https Access", "policyRule": {"if": {"allOf": [{"field":
      "type", "equals": "Microsoft.Storage/storageAccounts"}, {"field": "Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly",
      "equals": "false"}]}, "then": {"effect": "audit"}}, "metadata": {"category":
      "VDC"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"properties":{"displayName":"enforceStorageHttpsAccess","policyType":"Custom","description":"Policy
        to enforce Https Access","metadata":{"category":"VDC"},"policyRule":{"if":{"allOf":[{"field":"type","equals":"Microsoft.Storage/storageAccounts"},{"field":"Microsoft.Storage/storageAccounts/supportsHttpsTrafficOnly","equals":"false"}]},"then":{"effect":"audit"}}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyDefinitions","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1195']
    status: {code: 201, message: Created}
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageHttpsAccess", "policyDefinitionId":
      "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess"},
      "name": "enforceStorageHttpsAccess"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageHttpsAccess","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageHttpsAccess","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageHttpsAccess","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageHttpsAccess"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"displayName": "enforceStorageServiceEndpoint", "description":
      "Policy to enforce Storage Account service endpoint", "policyRule": {"if": {"allOf":
      [{"field": "type", "equals": "Microsoft.Storage/storageAccounts"}, {"not": {"field":
      "Microsoft.Storage/storageAccounts/networkAcls.virtualNetworkRules[*].id", "exists":
      true}}]}, "then": {"effect": "audit"}}, "metadata": {"category": "VDC"}}}'
    headers:
      Content-Type: [application[...]
- request:
    body: 'b''b\''{"properties": {"displayName": "enforceStorageServiceEndpoint",
      "policyDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint"},
      "name": "enforceStorageServiceEndpoint"}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint?api-version=2018-03-01
  response:
    body: {string: '{"sku":{"name":"A0","tier":"Free"},"properties":{"displayName":"enforceStorageServiceEndpoint","policyDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyDefinitions/enforceStorageServiceEndpoint","scope":"/subscriptions/00000000-0000-0000-0000-000000000000"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/policyAssignments/enforceStorageServiceEndpoint","type":"Microsoft.Authorization/policyAssignments","name":"enforceStorageServiceEndpoint"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 19:56:47 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-workload-iaas/parameters/kv/azureDeploy.parameters.output.json
  response:
    body: {string: '{"kv-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-kv-rg/providers/Microsoft.KeyVault/vaults/org-iaas-kv"},
        "kv-name": { "value": "org-iaas-kv"}, "kv-resourceGroup": { "value": "org-iaas-kv-rg"},
        "kv-uri": { "value": "https://org-iaas-kv.vault.azure.net/"}}'}
    headers:
      content-range: [bytes 0-323/324]
      content-type: [application/octet-stream]
      etag: ['"0x8D678C421A37D4A"']
      last-modified: ['Sat, 12 Jan 2019 19:28:29 GMT']
      x-ms-blob-content-md5: [cJl7mCzm+a2jx3KBeE9QVg==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Sat, 12 Jan 2019 18:03:18 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 19:56:47 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-workload-iaas/parameters/workload-net/azureDeploy.parameters.output.json
  response:
    body: {string: '{"vnet-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-net-rg/providers/Microsoft.Network/virtualNetworks/org-iaas-vnet"},
        "vnet-name": { "value": "org-iaas-vnet"}, "vnet-resourceGroup": { "value":
        "org-iaas-net-rg"}}'}
    headers:
      content-range: [bytes 0-277/278]
      content-type: [application/octet-stream]
      etag: ['"0x8D678C40B62C466"']
      last-modified: ['Sat, 12 Jan 2019 19:27:51 GMT']
      x-ms-blob-content-md5: [uClHJrnYO8dtCvjP2FeBnQ==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Sat, 12 Jan 2019 18:02:09 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 19:56:48 GMT']
      x-ms-range: [bytes=0-33554431]
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output/org-workload-iaas/parameters/la/azureDeploy.parameters.output.json
  response:
    body: {string: '{"oms-id": { "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-la-rg/providers/Microsoft.OperationalInsights/workspaces/org-iaas-la"},
        "oms-workspace-resourceGroup": { "value": "org-iaas-la-rg"}, "oms-workspace-name":
        { "value": "org-iaas-la"}, "oms-workspace-id": { "value": "1c8a86f6-69c5-4299-82b6-8f06db51a757"},
        "oms-primary-shared-key": { "value": "U3KGMQI94a2PfGyXNu0ZFRNfPfzFaGlHrfnOfqMaGvVAzVHet7Ux64Odhfa+DRiUXuXcEnetQCqhS2WiiOP+3g=="}}'}
    headers:
      content-range: [bytes 0-497/498]
      content-type: [application/octet-stream]
      etag: ['"0x8D678C3CDD6B4EC"']
      last-modified: ['Sat, 12 Jan 2019 19:26:08 GMT']
      x-ms-blob-content-md5: [vtd6B1BpcvV1ZYjlkvUiLw==]
      x-ms-blob-type: [BlockBlob]
      x-ms-creation-time: ['Sat, 12 Jan 2019 17:56:48 GMT']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 206, message: Partial Content}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: HEAD
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-iaas-data-rg?api-version=2018-05-01
  response:
    body: {string: ''}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
    status: {code: 404, message: Not Found}
- request:
    body: '{"location": "Central US"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-iaas-data-rg?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-data-rg","name":"org-iaas-data-rg","location":"centralus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 201, message: Created}
- request:
    body: '!!! The request body has been omitted from the recording because its size
      59086 is larger than 10KB. !!!'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-iaas-data-rg/providers/Microsoft.Resources/deployments/org-workload-iaas-deployment-sqlserver-alwayson?api-version=2018-05-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-data-rg/providers/Microsoft.Resources/deployments/org-workload-iaas-deployment-sqlserver-alwayson","name":"org-workload-iaas-deployment-sqlserver-alwayson","properties":{"templateHash":"7753599176631651812","parameters":{"deployment-prefix":{"type":"String","value":"org-iaas"},"sas-key":{"type":"String","value":"se=2019-01-13T19%3A56%3A46Z&sp=r&spr=https&sv=2018-03-28&ss=b&srt=o&sig=YOErwQXXE%2B6EdRWoa%2BYzwX2QCFpAa0Ilypm9ecNKbvM%3D"},"output-params-storage-key":{"type":"String","value":"WHCxnTcooJCGfNwLRhz2zgLsDvXXE2uVqOuTfZcRHFJsJOhMZ96mUI41HxmVBXgAOoZMvdba+Fjc/5DS+5dS7g=="},"output-params-storage-account-name":{"type":"String","value":"storage"},"vnet-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-net-rg/providers/Microsoft.Network/virtualNetworks/org-iaas-vnet"},"vnet-resourceGroup":{"type":"String","value":"org-iaas-net-rg"},"data-asg-name":{"type":"String","value":"data"},"default-subnet-name":{"type":"String","value":"default"},"extension-name":{"type":"String","value":"sqlsrvr"},"admin-username":{"type":"String","value":"admin-user"},"admin-password":{"type":"SecureString","reference":{"keyVault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/org-ssvcs-kv"},"secretName":"admin-user"}},"virtualMachine-size":{"type":"String","value":"Standard_DS12_v2"},"virtualMachine-count":{"type":"Int","value":2},"os-type":{"type":"String","value":"Windows"},"os-image":{"type":"Object","value":{"offer":"SQL2017-WS2016","publisher":"MicrosoftSQLServer","sku":"Enterprise","version":"latest"}},"domain-name":{"type":"String","value":"org.com"},"domain-admin-user":{"type":"String","value":"org"},"domain-admin-password":{"type":"SecureString","reference":{"keyVault":{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-ssvcs-kv-rg/providers/Microsoft.KeyVault/vaults/org-ssvcs-kv"},"secretName":"org"}},"sql-backend-pool-name":{"type":"String","value":"sql-backend-pool"},"default-subnet-address-prefix":{"type":"String","value":"10.4.2.0/27"},"cluster-name":{"type":"String","value":"AOCluster"},"sql-server-start-ip-address":{"type":"String","value":"10.4.2.20"},"sql-server-ilb-ip-address":{"type":"String","value":"10.4.2.22"},"sql-server-cluster-ip-address":{"type":"String","value":"10.4.2.23"},"kv-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-kv-rg/providers/Microsoft.KeyVault/vaults/org-iaas-kv"},"kv-name":{"type":"String","value":"org-iaas-kv"},"kv-resourceGroup":{"type":"String","value":"org-iaas-kv-rg"},"kv-uri":{"type":"String","value":"https://org-iaas-kv.vault.azure.net/"},"vnet-name":{"type":"String","value":"org-iaas-vnet"},"oms-id":{"type":"String","value":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-la-rg/providers/Microsoft.OperationalInsights/workspaces/org-iaas-la"},"oms-workspace-resourceGroup":{"type":"String","value":"org-iaas-la-rg"},"oms-workspace-name":{"type":"String","value":"org-iaas-la"},"oms-workspace-id":{"type":"String","value":"1c8a86f6-69c5-4299-82b6-8f06db51a757"},"oms-primary-shared-key":{"type":"String","value":"U3KGMQI94a2PfGyXNu0ZFRNfPfzFaGlHrfnOfqMaGvVAzVHet7Ux64Odhfa+DRiUXuXcEnetQCqhS2WiiOP+3g=="}},"mode":"Incremental","provisioningState":"Accepted","timestamp":"2019-01-12T19:56:53.2322085Z","duration":"PT1.1943898S","correlationId":"18b27164-a109-4682-bdac-75286ad43f91","providers":[{"namespace":"Microsoft.Compute","resourceTypes":[{"resourceType":"availabilitySets","locations":["centralus"]},{"resourceType":"virtualMachines","locations":["centralus"]},{"resourceType":"virtualMachines/extensions","locations":["centralus"]}]},{"namespace":"Microsoft.Network","resourceTypes":[{"resourceType":"loadBalancers","locations":["centralus"]},{"resourceType":"networkInterfaces","locations":["centralus"]}]},{"namespace":"Microsoft.Storage","resourceTypes":[{"resourceType":"storageAccounts","locations":["centralus"]}]},{"namespace":"Microsoft.Resources","resourceTypes":[{"resourceType":"deployments","locations":[null]}]}],"dependencies":[{"dependsOn":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-data-rg/providers/Microsoft.Compute/virtualMachines/org-iaas-sqlsrvr-vm1","resourceType":"Microsoft.Compute/virtualMachines","resourceName":"org-iaas-sqlsrvr-vm1"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-data-rg/providers/Microsoft.Compute/virtualMachines/org-iaas-sqlsrvr-vm1/extensions/DSCSetupSQLAndJoinDomain","resourceType":"Microsoft.Compute/virtualMachines/extensions","resourceName":"org-iaas-sqlsrvr-vm1/DSCSetupSQLAndJoinDomain"},{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/org-iaas-data-rg/providers/Microsoft.Compute/virtualMachines/org-iaas-sqlsrvr-vm1/e[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/org-iaas-data-rg/providers/Microsoft.Resources/deployments/org-workload-iaas-deployment-sqlserver-alwayson/operationStatuses/08586542838734399136?api-version=2018-05-01
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      x-ms-date: ['Sat, 12 Jan 2019 20:48:45 GMT']
      x-ms-version: ['2018-03-28']
    method: GET
    uri: https://storage.blob.core.windows.net/output?restype=container
  response:
    body: {string: ''}
    headers:
      etag: ['"0x8D6785457412265"']
      last-modified: ['Sat, 12 Jan 2019 06:08:15 GMT']
      x-ms-has-immutability-policy: ['false']
      x-ms-has-legal-hold: ['false']
      x-ms-lease-state: [available]
      x-ms-lease-status: [unlocked]
      x-ms-version: ['2018-03-28']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      x-ms-blob-type: [BlockBlob]
      x-ms-date: ['Sat, 12 Jan 2019 20:48:45 GMT']
      x-ms-version: ['2018-03-28']
    method: PUT
    uri: https://storage.blob.core.windows.net/output/org-workload-iaas/parameters/sqlserver-alwayson/azureDeploy.parameters.output.json
  response:
    body: {string: ''}
    headers:
      content-md5: [mZFLkyvTelC5g8XnyQrpOw==]
      etag: ['"0x8D678CF58806F63"']
      last-modified: ['Sat, 12 Jan 2019 20:48:45 GMT']
      x-ms-request-server-encrypted: ['true']
      x-ms-version: ['2018-03-28']
    status: {code: 201, message: Created}
version: 1
